.br_A {
  background-color: #f5f6f9;
  height: 100vh;
  width: 100vw;
}
.br_B {
  background-color: #2d4c86;
  height: 3.44vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
}
.br_C {
  display: flex;
}
.br_D {
  display: flex;
}
.br_E {
  width: 1.19vw;
  height: 1.19vw;
  margin-right: 0.4vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../asset/bizzmart_logo2.png);
}
.br_F {
  font-size: 1.13vw;
  font-weight: bold;
  color: white;
}
.br_G {
  margin-left: 3vw;
  color: white;
  width: 10vw;
  border: none;
  background-color: #2d4c86;
  background-image: none;
}
.br_J {
  display: flex;
  align-items: center;
}
.br_O {
  padding: 1vw;
  border-bottom: 0.1vw solid #dddddd;
  font-weight: bold;
  background-color: white;
  font-size: 1.3vw;
}
.br_P {
  padding: 0.5vw 1vw;
  border-bottom: 0.1vw solid #dddddd;
  display: flex;
}
.br_Q {
  width: 10vw;
}
.br_R {
  width: 10vw;
  margin-left: 1vw;
  background-image: url(../asset/ic_search.svg);
  background-position: 94%;
  background-size: 0.8vw;
  background-repeat: no-repeat;
  padding-right: 0.6vw;
  margin-right: 0.6vw;
}
.br_S {
  padding: 1vw;
  overflow: auto;
}
.br_T {
  display: flex;
  color: #242629;
  font-size: 0.8vw;
  font-weight: bold;
  padding: 0.2vw;
}
.br_U {
  display: flex;
  width: 30%;
  background-image: url(../asset/ic_arrow_up.svg);
  background-position: left;
  background-size: 0.3vw;
  background-repeat: no-repeat;
  padding-left: 0.6vw;
}
.br_W {
  width: 7%;
}
.br_X {
  width: 12%;
}
.br_Y {
  width: 10%;
}
.br_Z {
  width: 15%;
}
.br_Aa {
  width: 10%;
}
.br_Ab {
  display: flex;
  color: #242629;
  font-size: 0.8vw;
  font-weight: 500;
  margin-bottom: 0.5vw;
  background-color: white;
  padding: 0.3vw 0;
  align-items: center;
  border-radius: 0.25vw;
  border: 0.1vw solid #eaeaea;
}
.br_Ac {
  background-image: none;
  padding-left: 0.7vw;
}
.br_Ad {
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 0.2vw;
  margin-right: 0.4vw;
}
.br_Ae {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.br_Af {
  font-weight: bold;
  margin-bottom: 0.08vw;
  font-weight: 500;
}
.br_Ag {
  font-weight: bold;
  font-size: 0.6vw;
  color: #9fa3af;
  font-weight: 500;
}
.br_Am {
  color: #2d4c86;
  background-image: url(../asset/ic_arrow_r.svg);
  background-position: right;
  background-size: 0.5vw;
  background-repeat: no-repeat;
  padding-right: 0.6vw;
  margin-right: 0.6vw;
  text-align: left;
  cursor: pointer;
}
.br_Ao {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.br_Ap {
  background-color: #2d4c86;
  padding: 0.4vw 0.5vw;
  border-radius: 0.3vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.br_Aq {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: white;
  background-image: url(../asset/ic_+.svg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}
.br_Ar {
  color: white;
  font-size: 0.8vw;
  font-weight: bold;
  padding: 0 0.5vw;
}
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
.brCa {
  padding: 0.8vw;
  border-bottom: 0.05vw solid #dcdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brCaA {
  color: #31363f;
  font-size: 1.13vw;
  font-weight: bold;
}
.brCaB {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-image: url(../asset/ic_close.svg);
  background-size: 1.2vw 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
}
.brCaB:hover {
  background-color: #00000003;
  cursor: pointer;
}

/* ///////////////////////////////////            BODY              ///////////////////////////////// */
.brCb {
  height: calc(100vh - 6.5vw);
  display: flex;
}
/* ///////////////////////////////////          COLUMN 1            ///////////////////////////////// */
.brCbA {
  overflow: auto;
  height: 100%;
  width: 17vw;
  border-right: 0.05vw solid #dcdbdb;
}
.brCbAa {
  margin: 1vw 4.4vw;
  position: relative;
  height: 8vw;
}
.brCbAaA {
  position: absolute;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  object-fit: contain;
  background-color: #2d4c862a;
  background-image: url(../asset/ic_profile.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.brCbAaB {
  top: 0;
  left: 0;
  position: absolute;
  height: 8vw;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brCbAaBa {
  transition: 0.5s;
  height: 2vw;
  width: 2vw;
  background-image: url(../asset/ic_cam.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(0);
}
.brCbAaB:hover .brCbAaBa {
  transition: 0.2s;
  height: 3vw;
  width: 3vw;
  filter: opacity(1);
}
.brCbAaC {
  display: none;
}
.brCbAb,
.brCbAb_ {
  color: #31363f;
  font-weight: 500;
  font-size: 0.8vw;
  padding: 0.3vw 20%;
  cursor: pointer;
}
.brCbAb_ {
  background-color: #c6d5fb;
  padding: 0.3vw 15%;
}
/* ///////////////////////////////////          COLUMN 2            ///////////////////////////////// */
.brCbB {
  overflow: auto;
  height: 100%;
  width: 28vw;
}
.brCbBa {
  font-size: 0.88vw;
  font-weight: 500;
  padding: 1vw;
  background-color: #eeeeee;
  color: #31363f;
}
.brCbBb {
  padding: 0 1vw;
  padding-bottom: 1vw;
}
.brCbBbA {
  font-size: 0.8vw;
  color: #31363f;
  padding-bottom: 0.18vw;
  padding-top: 1vw;
  display: flex;
  justify-content: space-between;
}
.brCbBbAa {
  width: 48%;
}
.brCbBbB {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.brCbBbBa {
  width: 48%;
}
/* ///////////////////////////////////         FOOTER           ///////////////////////////////// */
.brDd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.6vw 1vw;
  border-top: 0.05vw solid #dcdbdb;
}

.brDdA {
  margin: 0 1vw;
  font-size: 0.8vw;
  color: rgb(255, 84, 84);
}
.brDdB {
  margin-right: 0.3vw;
  color: white;
  font-size: 0.88vw;
  font-weight: 500;
  background-color: #5b7abe;
  padding: 0.5vw 0;
  width: 6vw;
  text-align: center;
  border-radius: 0.2vw;
  cursor: pointer;
}
.brDdC,
.brDdC_ {
  color: white;
  font-size: 0.88vw;
  font-weight: 500;
  background-color: #2d4c86;
  padding: 0.5vw 0;
  width: 6vw;
  text-align: center;
  border-radius: 0.2vw;
  cursor: pointer;
}
.brDdC_ {
  background-color: #2d4c86bc;
}
