.btnA {
  cursor: pointer;
  background-color: #2d4c86;
  width: 3vw;
  height: 1.80vw;
  border-radius: 1.80vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.15vw;
  margin-right: 0.18vw;
}
.btnA_ {
  cursor: pointer;
  background-color: #abadaf;
  width: 3vw;
  height: 1.80vw;
  border-radius: 1.80vw;
  display: flex;
  align-items: center;
  padding: 0.15vw;
  margin-right: 0.18vw;
}
.btnAa {
  width: 1.63vw;
  height: 1.63vw;
  border-radius: 1.63vw;
  background-color: white;
}
.btnAa_ {
  width: 1.63vw;
  height: 1.63vw;
  border-radius: 1.63vw;
  background-color: white;
}
/* //////////////////////////////////////////////////// */
.btnB {
  height: 8.41vw;
  width: 41.53vw;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0vw 0.19vw 0.44vw #00000026;
  margin-bottom: 0.47vw;
}
.btnBa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 0.78vw);
  padding: 0.38vw;
  cursor: pointer;
  border: 0.13vw solid white;
}
.btnBa_ {
  border: 0.13vw solid var(--primart_blue);
  background-color: #e8ebf2;
}
.btnBb {
  font-size: 0.91vw;
  font-weight: 500;
  color: #3d424e;
  text-align: center;
  margin-bottom: 1.19vw;
  margin-top: 0.38vw;
}
.btnBb_ {
  font-size: 0.91vw;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.19vw;
  margin-top: 0.38vw;
  color: #3d424e;
}
.btnBb-dis {
  font-size: 0.91vw;
  font-weight: 500;
  color: #c2bebe;
  text-align: center;
  margin-bottom: 1.19vw;
  margin-top: 0.38vw;
}
.btnBc {
  background-color: #bcc7cc;
  height: 0.03vw;
  width: 100%;
}
.btnBd {
  font-size: 0.69vw;
  color: #3d424e;
  text-align: center;
  padding: 0.78vw;
}
.btnBd_ {
  font-size: 0.69vw;
  text-align: center;
  padding: 0.78vw;
  color: #3d424e;
}
.btnBd-dis {
  font-size: 0.69vw;
  color: #c2bebe;
  text-align: center;
  padding: 0.78vw;
}
