/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////            LANDING PAGE            ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hcbB {
  display: flex;
  flex-wrap: wrap;
  margin: 0 16.5%;
  overflow: auto;
  height: calc(100vh - 12vw);
}
.hcbBa {
  display: flex;
  
  width: 32vw;
}
.hcbAa {
  width: 100%;
}
.hcbAb {
  width: 49%;
}
