/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////            LANDING PAGE            ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hcbB {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hcbBa {
  display: flex;
  width: 32vw;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////            POPUP LAYOUT            ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hcbD {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000002f;
}
.hcbDa {
  width: 60vw;
  background-color: white;
  border-radius: 0.22vw;
  box-shadow: 0vw 0vw 0.4vw #0000002f;
}
.hcbDb {
  padding: 0.5vw 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.04vw solid #707070;
}
.hcbDbA {
  color: #123347;
  font-size: 1.5vw;
  font-weight: 500;
}
.hcbDbB {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-image: url(../asset/ic_close.svg);
  background-size: 1.2vw 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
}
.hcbDbB:hover {
  background-color: #00000010;
  cursor: pointer;
}
.hcbDc {
  padding: 0.5vw 1vw;
  color: #123347;
  font-size: 0.88vw;
}
.hcbDd {
  padding: 0.5vw 1vw;
  margin-top: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.04vw solid #707070;
}
.hcbDdA {
  border: 0.04vw solid #ce4d24;
  color: #ce4d24;
  background-color: #f9d7d4;
  padding: 0.3vw;
  padding-left: 3vw;
  font-size: 0.88vw;
  border-radius: 0.2vw;
  width: 7vw;
  background-image: url(../asset/ic_warning.svg);
  background-size: 1vw 1vw;
  background-position: 1vw 0.3vw;
  background-repeat: no-repeat;
}
.hcbDdB {
  display: flex;
}
.hcbDdBa,
.hcbDdBb {
  width: 6vw;
  font-size: 0.88vw;
  color: #2d4c86;
  background-color: #c6d5fb;
  padding: 0.4vw;
  text-align: center;
  border-radius: 0.2vw;
  font-weight: 500;
  cursor: pointer;
}
.hcbDdBb {
  color: white;
  background-color: #2d4c86;
  margin-left: 0.5vw;
}
.hcbDdBa:hover,
.hcbDdBb:hover {
  filter: brightness(0.9);
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////           POPUP ADDACOUNT          ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hcbEc {
  padding: 1vw;
  padding-bottom: 0vw;
  display: flex;
  justify-content: space-between;
}
.hcbEcA {
  width: 48%;
}
.hcbEcAa {
  font-size: 0.88vw;
  font-weight: 500;
  color: #2d4c86;
  padding-bottom: 0.2vw;
}
.hcbEcAb {
  width: 100%;
  height: 1.94vw;
}
.hcbEcB {
  width: 23%;
}
.hcbEcBa {
  font-size: 0.88vw;
  font-weight: 500;
  color: #2d4c86;
  padding-bottom: 0.2vw;
}
.hcbEcBb {
  width: 100%;
  height: 1.94vw;
}
.hcbEcBc {
  width: calc(100% - 1vw);
  height: 1.8vw;
}
