/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////    SWAP ARROWS   //////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
.hclEc {
  width: 1.22vw;
  height: 1.56vw;
  background-image: url(../asset/ic_arrow_l.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.hclEd {
  width: 1.22vw;
  height: 1.56vw;
  background-image: url(../asset/ic_arrow_r1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 0.34vw;
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* //////////////////////////      TABLE      //////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
.hclF {
  background-color: #f3f6f6;
  padding: 0vw 0.97vw;
}
.hclF_ {
  border-radius: 0.25vw;
  background-color: white;
  padding: 0.04vw;
  box-shadow: 0.2vw 0vw 0.8vw rgb(199, 199, 199);
}
.hclFa {
  display: flex;
  background-color: #c6d5fb;
  height: 2.6vw;
  align-items: center;
  font-weight: bold;
  font-size: 0.86vw;
  color: #123347;
  border-top-left-radius: 0.22vw;
  border-top-right-radius: 0.22vw;
}
.hclFb {
  width: calc(100% / 7);
  text-align: center;
}
.hclFc {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  /* max-height: calc(100vh - 18vw); */
  max-height: calc(100vh - 15vw);
}
.hclFd {
  width: calc(100% / 7 - 0.605vw);
  height: calc(100vw / 17.2);
  padding: 0.25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-right: 0.12vw solid #e4e4e499;
  border-bottom: 0.12vw solid #e4e4e499;
  cursor: pointer;
}
.hclFd:nth-child(7n) {
  border-right: none;
}
.hclFd:nth-child(n + 36) {
  border-bottom: none;
}
.hclFe {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.hclFf,
.hclFf_dis {
  font-weight: bold;
  font-size: 0.9vw;
  color: #123347;
  margin-top: 0.4vw;
  margin-right: 1vw;
  padding: 0.1vw;
}
.hclFf_dis {
  color: #1233479d;
}
.hclFf_ {
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 75%;
  margin-top: 0.4vw;
  margin-right: 1vw;
  padding: 0.1vw;
  background-color: #5db676;
}
.hclFg {
  font-size: 0.6vw;
  width: 80%;
}
.hclFh,
.hclFh1,
.hclFh2 {
  display: flex;
  justify-content: space-between;
  border-radius: 0.16vw;
  background-color: #f9eee8;
  margin-top: 0.22vw;
  padding: 0.25vw;
  border-left: 0.19vw solid #dd5959;
  color: #dd5959;
}
.hclFi {
  text-overflow: ellipsis;
  color: #123347;
}
.hclFh1 {
  background-color: #eaf6f4;
  border-left: 0.19vw solid #5db676;
  color: #5db676;
}
.hclFh2 {
  background-color: #f1ebfb;
  border-left: 0.19vw solid #8145b1;
  color: #8145b1;
}
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* //////////////////////////       POPUP      /////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// */
.hclG,
.hclG_ {
  right: -100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: transparent;
}
.hclG_ {
  transition: background-color 1s;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.hclGa {
  transition: 0.5s;
  right: -100vw;
  position: fixed;
  top: 0vw;
  bottom: 0vw;
  width: 45vw;
  background-color: transparent;
}
.hclGa_ {
  transition: 0.5s;
  right: 0vw;
  position: fixed;
  top: 0vw;
  bottom: 0vw;
  width: 45vw;
  background-color: white;
}
.hclGaA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7vw 0.97vw;
  border-bottom: 0.08vw solid #d7dadd;
}
.hclGaAa {
  font-weight: bold;
  font-size: 1.4vw;
  padding-bottom: 0vw;
  color: #123347;
}
.hclGaAb {
  width: 2vw;
  height: 2vw;
  background-image: url(../asset/ic_close.svg);
  background-repeat: no-repeat;
  background-size: 1vw;
  background-position: center;
  cursor: pointer;
}
.hclGaAb:hover {
  border-radius: 50%;
  background-color: #00000010;
}
.hclGaB {
  height: calc(100vh - 7vw);
  overflow: auto;
}
.hclGaBa {
  display: flex;
}
.hclGaBaA {
  display: flex;
  align-items: center;
  height: 3.59vw;
  max-width: 15.63vw;
  padding: 0vw 0.97vw;
  color: #31363f;
  background-color: #e7edfd;
  margin-top: 0.63vw;
  margin-left: 0.63vw;
  border-radius: 0.22vw;
}
.hclGaBaB {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  margin-right: 0.8vw;
}
.hclGaBaD {
  font-size: 1.13vw;
  font-weight: 500;
}
.hclGaBaE {
  font-size: 0.75vw;
}
.hclGaBb {
  margin-top: 0.5vw;
  padding: 0.45vw 0.97vw;
  font-size: 0.95vw;
  background-color: #c6d5fb;
}
.hclGaBc {
  color: #333333;
  font-size: 0.88vw;
  height: 2.19vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 0.97vw;
}
.hclGaBcA {
  width: 40%;
}
.hclGaBcB {
  width: 10%;
}
.hclGaBcC {
  width: 18%;
}
.hclGaBcD {
  width: 12%;
}
.hclGaBcE {
  width: 15%;
  text-align: end;
}
.hclGaBd {
  font-size: 0.88vw;
  height: 2.81vw;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 0.97vw;
}
.hclGaBd:nth-child(even) {
  background-color: #f3f6f6;
}
.hclGaBdA {
  color: #2d4c86;
}
.hclGaBdB {
  color: #615f5f;
}
.hclGaBdC {
  color: #2d4c86;
}
.hclGaBdD {
  color: #615f5f;
}
.hclGaBdE {
  color: #615f5f;
}
.hclGaBe {
  border-top: 0.03vw solid #dcdbdb;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-right: 0.45vw;
  display: flex;
  justify-content: flex-end;
}
.hclGaBeA {
  background-color: #eaf6f4;
  padding: 0.45vw;
  width: 70%;
  border-radius: 0.22vw;
  display: flex;
  justify-content: space-between;
}
.hclGaBeB {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hclGaBeC {
  font-size: 0.88vw;
  color: #999999;
  font-weight: 500;
  padding-bottom: 0.1vw;
}
.hclGaBeD {
  font-size: 1.25vw;
  color: #17191e;
  font-weight: bold;
}
.hclGaBeD_ {
  font-size: 1.25vw;
  color: #127704;
  font-weight: bold;
}
.hclGaBg {
  color: #333333;
  font-size: 0.88vw;
  height: 2.19vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 0.97vw;
}
.hclGaBgA {
  width: 30%;
}
.hclGaBgB {
  width: 15%;
}
.hclGaBgC {
  width: 15%;
}
.hclGaBgD {
  width: 15%;
}
.hclGaBgE {
  width: 15%;
}
.hclGaBh {
  font-size: 0.88vw;
  height: 2.81vw;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 0.97vw;
}
.hclGaBh:nth-child(even) {
  background-color: #f3f6f6;
}
.hclGaBhA {
  color: #2d4c86;
}
.hclGaBhB {
  color: #615f5f;
}
.hclGaBhC {
  color: #615f5f;
}
.hclGaBhD {
  color: #2d4c86;
}
.hclGaBhE {
  color: #615f5f;
}
.hclGaBi {
  display: flex;
  justify-content: flex-end;
}
.hclGaBiA {
  padding: 0.45vw;
  margin-top: 1vw;
  margin-right: 0.45vw;
  margin-bottom: 2vw;
  border-radius: 0.22vw;
  min-width: 35%;
  background-color: #f9eee8;
  text-align: end;
}
.hclGaBiB {
  font-size: 0.88vw;
  color: #999999;
  font-weight: 500;
  padding-bottom: 0.1vw;
}
.hclGaBiC {
  font-size: 1.25vw;
  color: #e73535;
  font-weight: 500;
}
.hclGaC {
  display: flex;
  justify-content: end;
  border-top: 0.03vw solid #dcdbdb;
}
.hclGaCa {
  background-color: #2d4c86;
  color: white;
  padding: 0.56vw 2.53vw;
  font-size: 0.88vw;
  margin-right: 1.66vw;
  margin-top: 0.84vw;
  border-radius: 0.19vw;
}
