.hdA {
  height: 3.13vw;
  border-bottom: 1px solid #d7dadd;
  display: flex;
  align-items: center;
  padding: 0px 1.13vw;
  color: #2b2d30;
  font-size: 1.13vw;
  justify-content: space-between;
}
.hdAa {
  display: flex;
}
.hdAb {
  font-weight: bold;
}
