.hinB {
  font-size: 15px;
  color: #2b2d30;
  cursor: pointer;
}
.hinC {
  display: flex;
  align-items: center;
}
.hinCa {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #c6d5fb;
  padding: 3px;
  margin-right: 6px;
  cursor: pointer;
}
.hinCaA {
  width: 100%;
}
.hinCc {
  display: flex;
  cursor: pointer;
}
.hinCcA {
  color: white;
  background-color: #2d4c86;
  padding: 4px 20px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 12px;
  height: 16px;
}
.hinCcB {
  background-color: #5b7abe;
  width: 25px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hinCcBa {
  width: 10px;
}
.hinCcC {
  position: absolute;
  background-color: white;
  margin-top: 30px;
  width: 115px;
  height: 0px;
  overflow: hidden;
}
.hinCc:hover .hinCcC {
  transition: height 0.5s;
  height: 70px;
  box-shadow: 0px 1px 2px #87878729;
}
.hinCc:not(:hover) .hinCcC {
  transition: height 0.2s;
  height: 0px;
}
.hinCcCa {
  cursor: pointer;
  color: #393939;
  font-size: 12px;
  padding: 4px 8px;
  margin: 0px 8px;
  border-radius: 3px;
}
.hinCcCa:hover {
  background-color: #eeeff1;
}

/* ////////////////////// */
/* ////////////////////// */
/* ////////////////////// */

.hinE {
  height: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.hinEa {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.hinEb {
  font-size: 14px;
  color: #5b7abe;
  padding: 6px 12px;
}
.hinEb_ {
  font-size: 14px;
  color: #2d4c86;
  padding: 6px 12px;
}
.hinEc {
  height: 5px;
}
.hinEc_ {
  background-color: #5b7abe;
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.hinF {
  background-color: #f3f6f6;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 16px;
  padding-bottom: 0px;
  color: #123347;
}
.hinG {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f3f6f6;
  padding-bottom: 12px;
  height: 20px;
}
.hinGa {
  font-size: 12px;
  padding: 0px 16px;
}
.hinGb {
  display: flex;
  align-items: center;
}
.hinGbA {
  font-size: 9px;
  border-radius: 3px;
  border: 1px solid #d5d9dd;
  width: 200px;
  height: 16px;
  padding-left: 6px;
  padding-right: 30px;
}
.hinGbA::placeholder {
  color: #8f9092;
}
.hinGbA-icon {
  position: relative;
  left: -15px;
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url(../asset/icon/ic_search1.png);
}
.hinGbB {
  font-size: 9px;
  color: #707070;
  margin: 8px;
}
.hinGbC {
  border-radius: 3px;
  border: 1px solid #d5d9dd;
  margin-right: 4px;
  width: 100px;
  height: 20px;
  font-size: 9px;
}
.hinGbD {
  border-radius: 3px;
  border: 1px solid #d5d9dd;
  margin-right: 4px;
  width: 100px;
  height: 20px;
  font-size: 9px;
}
.hinGbE {
  border-radius: 3px;
  background-color: #2d4c86;
  font-size: 10px;
  color: white;
  height: 20px;
  width: 100px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hinI {
  background-color: #f3f6f6;
  padding: 0px 16px;
}
.hinIa {
  border-radius: 3px;
  border: 1px solid #c6d5fb;
}
.hinIb {
  background-color: #c6d5fb;
  height: 42px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #123347;
}
.hinIbB {
  width: 5.5%;
}
.hinIbC {
  width: 20%;
}
.hinIbD {
  width: 9%;
}
.hinIbF {
  width: 11%;
}
.hinIbG {
  width: 8%;
}
.hinIbH {
  width: 8%;
}
.hinIbI {
  width: 9%;
}
.hinIbJ {
  width: 9%;
}
.hinIbK {
  width: 9%;
}
.hinIbL { 
  width: 6.5%;
}
.hinIbM {
  width: 5%;
}
.hinIc {
  max-height: calc(100vh - 300px);
  background-color: white;
  overflow: auto;
  border-radius: 6px;
}
.hinIcA {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hinIcA:nth-child(even) {
  background-color: #f3f6f6;
}

.hinIcAb {
  display: flex;
  justify-content: center;
}
.hinIcAbA {
  height: 38px;
  width: 38px;
  border-radius: 20px;
  background-color: #c6d5fb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b7abe;
  font-weight: bold;
  font-size: 15px;
}
/* .hinIcAc {
} */
.hinIcAcA {
  color: #2d4c86;
  font-size: 12px;
  font-weight: 500;
}
.hinIcAcB {
  color: #595d68;
  font-size: 11px;
}
.hinIcAd {
  font-size: 12px;
  color: #2d4c86;
}
.hinIcAe {
  font-size: 12px;
  color: #123347;
}
.hinIcAf {
  font-size: 12px;
  color: #123347;
}
.hinIcAg {
  font-size: 12px;
  color: #123347;
}
.hinIcAh {
  font-size: 12px;
  color: #2d4c86;
}
.hinIcAi {
  font-size: 12px;
  color: #123347;
}
.hinIcAj {
  font-size: 12px;
  color: #123347;
}
.hinIcAk {
  font-size: 12px;
  color: #123347;
}
.hinIcAl {
  font-size: 12px;
  color: #123347;
}
.hinJ {
  height: 50px;
  background-color: #f3f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  padding-bottom: 20px;
}
.hinJb {
  font-weight: bold;
  font-size: 10px;
  color: #242629;
}
.hinJa {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #242629;
}
.hinJaB {
  width: 50px;
  margin: 0px 8px;
  font-size: 10px;
  border: 1px solid #c6d5fb;
  border-radius: 3px;
  width: 38px;
  text-align: center;
  padding: 4px 2px;
}

.hinJb {
  display: flex;
  align-items: center;
  color: #2d4c86;
}
.hinJbA {
  cursor: pointer;
  padding: 5px 8px;
}
.hinJbB {
  padding: 5px 4px;
  background-color: white;
  border: 1px solid #c6d5fb;
  border-radius: 3px;
  min-width: 10px;
  margin: 0px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d4c86;
  cursor: pointer;
}
.hinJbB_ {
  background-color: #2d4c86;
  color: white;
}
.hinK {
  background-color: #f3f6f6;
  padding: 0px 16px;
  padding-top: 50px;
  overflow: auto;
  height: calc(100vh - 300px);
}

.hinKa {
  font-size: 12px;
  font-weight: bold;
  color: #3d424e;
}
.hinKb {
  display: flex;
  justify-content: space-between;
}
.hinKbA {
  padding-right: 4%;
}
.hinKbB {
  width: 80px;
  height: 2px;
  background-color: #2d4c86;
  margin-top: 10px;
}
.hinKbC {
  color: #757a82;
  font-size: 11px;
  margin-top: 15px;
}
.hinKbE {
  min-width: 760px;
}
.hinKbEa {
  display: flex;
  margin-bottom: 14px;
}
.hinKbEaA {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  font-weight: 500;
  color: #3d424e;
  margin-right: 16px;
  margin-top: 5px;
}
.hinKbEaB {
  width: 400px;
  border-radius: 3px;
  border: 1px solid #d5d9dd;
  height: 23px;
  padding: 0px 7px;
  font-size: 11px;
  color: #242629;
}
.hinKbEaB::placeholder {
  font-size: 10px;
  color: #c2bebe;
}
.hinKbEaB:focus {
  outline: 1px solid #2d4c86;
}

.hinKbEaD {
  width: 400px;
  border-radius: 3px;
  border: 1px solid #d5d9dd;
  padding: 6px 7px;
  font-size: 11px;
  color: #242629;
}
.hinKbEaD::placeholder {
  font-size: 10px;
  color: #c2bebe;
}
.hinKbEaD:focus {
  outline: 1px solid #2d4c86;
}
.hinKbEaE {
  display: flex;
  align-items: center;
}

.hinKbEaEc {
  font-size: 11px;
  color: #c2bebe;
}

.hinKbEb {
  display: flex;
  margin-bottom: 3px;
  margin-left: 170px;
  font-size: 11px;
  font-weight: 500;
  color: #3d424e;
}
.hinKbEbB {
  width: 180px;
  display: flex;
}
.hinKbEbB_ {
  display: flex;
}
.hinKbEbBa {
  font-size: 10px;
  font-weight: 400;
  color: #c2bebe;
}

/* //////////////// */
.hinL {
  padding: 0px 16px;
  height: 50px;
  background-color: #f3f6f6;
  border-top: 1px solid #c2bebe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hinLa {
  height: 25px;
  width: 100px;
  background-color: #ff8f8f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.hinLb {
  display: flex;
}
.hinLbA {
  height: 25px;
  width: 80px;
  background-color: #c6d5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 500;
}
.hinLbB {
  height: 25px;
  width: 80px;
  background-color: #2d4c86;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0px 10px;
  font-weight: 500;
  border: none;
}

.hinKbEaC {
  width: 130px;
  border-radius: 3px;
  border: 1px solid #d5d9dd;
  height: 23px;
  padding: 0px 7px;
  padding-right: 30px;
  font-size: 11px;
  color: #242629;
  margin-right: 5px;
}
.hinKbEaC::placeholder {
  font-size: 10px;
  color: #c2bebe;
}
.hinKbEaC:focus {
  outline: 1px solid #2d4c86;
}
.hinKbEaC-unit {
  position: relative;
  left: -35px;
  width: 0px;
  margin-top: 6px;
  font-size: 11px;
  color: #c2bebe;
}
