.hinD {
  height: calc(100vh - 6vw);
  overflow: auto;
}
.hinDa {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hinDaA {
  width: 49%;
}
.hinDaB,
.hinDaC,
.hinDaD {
  width: 32.5%;
  font-weight: 500;
  color: #3d424e;
  display: flex;
  align-items: center;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.hinDaBa {
  font-size: 0.8vw;
  padding: 0 0.5vw;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hinDaBb {
  width: 40%;
}
.hinDaBc {
  width: 2vw;
  height: 1vw;
  background-image: url(../asset/ic_converter.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.hinDaC {
  background-image: url(../asset/ic_+1.svg);
  width: 24%;
}
.hinDaC_sideBtn {
  position: relative;
  left: 0vw;
  height: 1.8vw;
  width: 1.5vw;
  margin-left: -2vw;
  cursor: pointer;
  /* background-color: #2d4c86; */
}
.hinDaD {
  background-image: url(../asset/ic_+1.svg);
  width: 46%;
}
.hinDaE {
  background-color: #2d4c86;
  color: white;
  font-size: 0.88vw;
  padding: 0.4vw 1vw;
  cursor: pointer;
  border-radius: 0.3vw;
  font-weight: bold;
}
.hinDaF {
  width: 28%;
  font-size: 0.7vw;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hinDaFa {
  font-size: 0.53vw;
  color: #727374;
  margin-top: 0.1vw;
}
/* //////////////// */
.hinDb {
  padding: 0vw 0.97vw;
  height: 3.8vw;
  background-color: #f3f6f6;
  border-top: 0.03vw solid #c2bebe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hinDbA {
  height: 1.94vw;
  width: 8.31vw;
  background-color: #ff8f8f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.94vw;
  border-radius: 0.19vw;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.hinDbB {
  display: flex;
}
.hinDbBa {
  height: 1.94vw;
  width: 6.34vw;
  background-color: #c6d5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.94vw;
  border-radius: 0.19vw;
  font-weight: 500;
}
.hinDbBb {
  height: 1.94vw;
  width: 6.34vw;
  background-color: #2d4c86;
  color: white;
  border-radius: 0.19vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.94vw;
  margin: 0px 10px;
  font-weight: 500;
  border: none;
}
.hinDbBa:hover {
  box-shadow: 0.05vw 0.05vw 0.15vw #00000053;
}
.hinDbBb:hover {
  box-shadow: 0.05vw 0.05vw 0.15vw #00000053;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
.hinDc {
  height: 8.41vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0vw 0.19vw 0.44vw #00000026;
  margin-bottom: 0.47vw;
}
.hinDcA {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 0.78vw);
  padding: 0.38vw;
  cursor: pointer;
  border: 0.13vw solid white;
}
.hinDcA_ {
  border: 0.13vw solid var(--primart_blue);
  background-color: #e8ebf2;
}
.hinDcB {
  font-size: 0.91vw;
  font-weight: 500;
  color: #3d424e;
  text-align: center;
  margin-bottom: 1.19vw;
  margin-top: 0.38vw;
}
.hinDcB_ {
  font-size: 0.91vw;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.19vw;
  margin-top: 0.38vw;
  color: #3d424e;
}
.hinDcB-dis {
  font-size: 0.91vw;
  font-weight: 500;
  color: #c2bebe;
  text-align: center;
  margin-bottom: 1.19vw;
  margin-top: 0.38vw;
}
.hinDcC {
  background-color: #bcc7cc;
  height: 0.03vw;
  width: 100%;
}
.hinDcD {
  font-size: 0.69vw;
  color: #3d424e;
  text-align: center;
  padding: 0.78vw;
}
.hinDcD_ {
  font-size: 0.69vw;
  text-align: center;
  padding: 0.78vw;
  color: #3d424e;
}
.hinDcD-dis {
  font-size: 0.69vw;
  color: #c2bebe;
  text-align: center;
  padding: 0.78vw;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////     INVENTORY IMAGE PICKER     /////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hinDd {
  border: 0.06vw solid #d5d9dd;
  border-radius: 0.3vw;
}
.hinDdA {
  height: 10vw;
  background-color: white;
  padding: 0.2vw;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.hinDdAa,
.hinDdAa_pr {
  transition: 0.5s;
  width: 6vw;
  height: 6vw;
  margin: 0.1vw;
  border-radius: 0.2vw;
  background-size: 6vw 6vw;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hinDdAa_pr {
  width: 7vw;
  height: 7vw;
  background-size: 7vw 7vw;
}
.hinDdAa_pr:hover {
  transition: 0.5s;
  background-size: 8vw 8vw;
}
.hinDdAa:hover {
  transition: 0.5s;
  background-size: 7vw 7vw;
}
.hinDdAa:hover .hinDdAaA {
  display: flex;
}
.hinDdAa:hover .hinDdAaB {
  display: flex;
}
.hinDdAa_pr:hover .hinDdAaA {
  display: flex;
}
.hinDdAa_pr:hover .hinDdAaB {
  display: flex;
}
.hinDdAaA {
  display: none;
  justify-content: flex-end;
  padding: 0.3vw;
}
.hinDdAaAa {
  width: 0.88vw;
  height: 0.88vw;
  background-image: url(../asset/ic_x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.hinDdAaB {
  display: none;
  font-size: 0.88vw;
  font-weight: 500;
  justify-content: center;
  color: #8f9091;
}
.hinDdC {
  background-color: #dcdede;
  font-size: 0.75vw;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  font-weight: 500;
  color: #242629;
}
.hinDdCa {
  display: flex;
}
.hinDdCaA {
  color: #2d4c86;
  font-weight: bold;
  cursor: pointer;
}
.hinDdCb {
  cursor: pointer;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////    INVENTORY PRODUCT STATION     ////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hinDe {
  display: flex;
  flex-wrap: wrap;
}
.hinDeA {
  margin: 0vw 0.2vw;
  margin-top: 0.4vw;
  font-size: 0.63vw;
  padding: 0vw 0.44vw;
  padding-right: 1vw;
  background-color: var(--primart_blue);
  color: white;
  display: flex;
  align-items: center;
  height: 1.25vw;
  border-radius: 0.19vw;
}
.hinDeAa {
  position: relative;
  cursor: pointer;
  left: 0.8vw;
  background-image: url(../asset/icon/ic_bin_w.png);
  background-repeat: no-repeat;
  background-size: 0.56vw;
  height: 1.25vw;
  width: 0.6vw;
  background-position: center;
}
.hinDeAa:hover {
  background-size: 0.62vw;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////     INVENTORY POPUP     ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hinF {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////     VARIANT PRODECT TABLE     /////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hinDf {
  width: 97%;
  border-top-left-radius: 0.38vw;
  border-top-right-radius: 0.38vw;
  border: 0.03vw solid #d5d9dd;
  margin-bottom: 2vw;
}
.hinDfA {
  border-top-left-radius: 0.38vw;
  border-top-right-radius: 0.38vw;
  background-color: #c6d5fb;
  height: 1.94vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.75vw;
}
.hinDfAa {
  padding-left: 0.3vw;
  width: 17%;
}
.hinDfAb {
  width: 12%;
}
.hinDfAc {
  width: 8%;
}
.hinDfAd {
  width: 8%;
  display: flex;
  justify-content: flex-end;
}
.hinDfB {
  height: 1.94vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.75vw;
}
.hinDfBa {
  font-size: 0.75vw;
  border-radius: 0.19vw;
  height: 1.4vw;
}
.hinDfB:nth-child(odd) {
  background-color: white;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////    INVENTORY PRODECT POPUP    /////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.hinDh {
  font-size: 1vw;
  font-weight: 500;
}
