.hmA {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 58px;
  right: 0px;
}
.hmAa {
  background-color: #2d4c86;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hmAaA {
  display: flex;
  align-items: center;
}
.hmAaB {
  margin: 10px;
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 3px;
}
.hmAaC {
  width: 30px;
}
.hmAaD {
  color: white;
}
.hmAaE {
  font-size: 15px;
  font-weight: 500;
}
.hmAaF {
  color: #c1c1d7;
  font-size: 11px;
}
.hmAaG {
  display: flex;
  align-items: center;
}
.hmAaH {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #c1c1d7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 22px;
}
.hmAaI {
  width: 16px;
}
.hmAaJ {
  margin-right: 22px;
  padding: 2px;
  padding-top: 6px;
}
.hmAaK {
  width: 13px;
}
.hmAaM {
  margin-right: 22px;
  display: flex;
}
.hmAaN {
  width: 16px;
}
.hmAaO {
  font-size: 12px;
  color: #c1c1d7;
  margin: 0px 4px;
}
.hmAaP {
  width: 6px;
  object-fit: contain;
}
.hmAaQ {
  margin-right: 22px;
  display: flex;
  align-items: center;
}
.hmAaR {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 7px;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */

.hmB {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 58px;
  overflow: hidden;
  background-color: var(--primart_blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hmB:hover {
  transition: width 0.4s;
  width: 226px;
}
.hmB:not(:hover) {
  transition: width 0.3s;
  width: 58px;
}
.hmBa {
  display: flex;
  margin: 15px 12px;
  margin-bottom: 25px;
}
.hmBb {
  min-width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: #312f7c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hmBc {
  width: 22px;
}
.hmBd {
  margin-left: 18px;
}
.hmBe {
  display: flex;
  color: white;
  align-items: flex-end;
}
.hmBf {
  font-size: 20px;
}
.hmBg {
  font-size: 11px;
  margin: 2px 4px;
}
.hmBh {
  font-size: 11px;
  font-weight: 200;
  color: #c1c1d7;
}
.hmBi {
  margin: 5px 10px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #b3b3e2;
}
.hmBi:hover {
  background-color: #3e5d9b;
}
.hmBi_ {
  margin: 5px 10px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: #82a1ed;
}
.hmBi_a {
  background-color: #395996;
  height: 3px;
  border-radius: 2px;
  margin: 10px;
}
.hmBj {
  padding: 0px 11px;
  display: flex;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.hmBjA {
  width: 16px;
  object-fit: contain;
}
.hmBk {
  font-weight: 500;
  font-size: 14px;
  padding: 0px 12px;
  white-space: nowrap;
}
.hmBl {
  background-color: #82a1ed;
  margin: 2vh 10px;
  display: flex;
  align-items: center;
  padding: 10px 2px;
  border-radius: 5px;
}
.hmBm {
  margin: 0px 10px;
  width: 16px;
}
.hmBn {
  color: white;
  white-space: nowrap;
  margin-left: 10px;
}
