.hmA {
  position: fixed;
  top: 0vw;
  bottom: 0vw;
  left: 4vw;
  right: 0vw;
  background-color: #f3f6f6;
}
.hmAa {
  background-color: #2d4c86;
  height: 3.34vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hmAaA {
  display: flex;
  align-items: center;
}
.hmAaB {
  margin: 0.63vw;
  width: 1.88vw;
  height: 1.88vw;
  background-color: red;
  border-radius: 0.3vw;
}
.hmAaC {
  width: 1vw;
}
.hmAaD {
  color: white;
}
.hmAaE {
  font-size: 0.97vw;
  font-weight: 500;
}
.hmAaF {
  color: #c1c1d7;
  font-size: 0.66vw;
}
.hmAaG {
  display: flex;
  align-items: center;
}
.hmAaH {
  width: 1.94vw;
  height: 1.94vw;
  border-radius: 0.97vw;
  background-color: #c1c1d7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.63vw;
}
.hmAaI {
  width: 1vw;
}
.hmAaJ {
  margin-right: 1.63vw;
}
.hmAaK {
  width: 0.81vw;
}
.hmAaM {
  margin-right: 1.63vw;
  display: flex;
}
.hmAaN {
  width: 1vw;
}
.hmAaO {
  font-size: 0.78vw;
  color: #c1c1d7;
  margin: 0vw 0.34vw;
}
.hmAaP {
  width: 0.47vw;
  object-fit: contain;
}
.hmAaQ {
  margin-right: 1.63vw;
  display: flex;
  align-items: center;
}
.hmAaR {
  width: 1.94vw;
  height: 1.94vw;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.34vw;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */

.hmB {
  position: fixed;
  top: 0vw;
  bottom: 0vw;
  left: 0vw;
  width: 4vw;
  overflow: hidden;
  background-color: var(--primart_blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hmB:hover {
  transition: width 0.4s;
  width: 12.88vw;
}
.hmB:not(:hover) {
  transition: width 0.3s;
  width: 4vw;
}
.hmBa {
  display: flex;
  margin: 0.81vw 1.03vw;
  margin-bottom: 1.31vw;
}
.hmBb {
  min-width: 2.25vw;
  max-width: 2.25vw;
  height: 2.25vw;
  border-radius: 0.51vw;
  background-color: #312f7c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hmBc {
  width: 50%;
}
.hmBd {
  margin-left: 1.16vw;
}
.hmBe {
  display: flex;
  color: white;
  align-items: flex-end;
}
.hmBf {
  font-size: 1.13vw;
  font-weight: bold;
}
.hmBg {
  font-size: 0.66vw;
}
.hmBh {
  font-size: 0.66vw;
  font-weight: 200;
  color: #c1c1d7;
}
.hmBi {
  margin: 0.25vw 0.76vw;
  height: 2.4vw;
  border-radius: 0.4vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #b3b3e2;
}
.hmBi:hover {
  background-color: #3e5d9b;
}
.hmBi_ {
  margin: 0.25vw 0.76vw;
  height: 2.4vw;
  border-radius: 0.4vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: #82a1ed;
}
.hmBi_a {
  background-color: #395996;
  height: 0.2vw;
  border-radius: 0.25vw;
  margin: 0.5vw 0.75vw;
}
.hmBj {
  padding: 0vw 0.7vw;
  display: flex;
  justify-content: center;
  height: 1.19vw;
}
.hmBjA {
  width: 1.15vw;
  object-fit: contain;
}
.hmBk {
  font-weight: 500;
  font-size: 0.88vw;
  padding: 0vw 0.77vw;
  white-space: nowrap;
}
.hmBl {
  background-color: #82a1ed;
  margin: 2.66vh 0.81vw;
  display: flex;
  align-items: center;
  padding: 0.7vw 0.01vw;
  border-radius: 0.28vw;
}
.hmBm {
  margin: 0vw 0.81vw;
  width: 0.81vw;
}
.hmBn {
  color: white;
  white-space: nowrap;
  margin-left: 0.81vw;
  font-size: 0.88vw;
}
