/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////         BODY        //////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
.hrpA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 0.7vw;
  background-color: white;
}
.hrpAa {
  border-radius: 0.28vw;
  font-size: 0.88vw;
  border: 0.05vw solid #b3c3de;
  color: #2d4c86;
  font-weight: 500;
  padding: 0.4vw;
  /* padding-right: 2.3vw; */
  /* background-image: url(../asset/ic_calender.svg);
  background-repeat: no-repeat;
  background-size: 1.16vw;
  background-position: calc(100% - 0.8vw); */
  display: flex;
  align-items: center;
}
.hrpAaA {
  font-size: 0.88vw;
  color: #2d4c86;
  font-weight: 500;
  padding: 0 ;
  border: 0;
  font-family: Mic32NewRounded;
  box-shadow: none;
}
.hrpAaA:focus {
  box-shadow: none;
}
.hrpB {
  margin: 1vw 10vw;
  padding: 0 6vw;
  background-color: white;
  border-radius: 0.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 11.3vw);
  box-shadow: 0 0 0.4vw #0000001f;
}
.hrpBa {
  display: flex;
  justify-content: space-between;
  font-size: 1.44vw;
  font-weight: bold;
  padding-bottom: 0.4vw;
  border-bottom: 0.2vw solid #469ec2;
}
.hrpBaB {
  color: #469ec2;
}
.hrpBb {
  color: #010101;
  font-size: 1.05vw;
  text-align: right;
  padding-bottom: 2vw;
  margin-top: 0.4vw;
}
.hrpBc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2vw;
  font-weight: bold;
  padding-bottom: 0.8vw;
  border-bottom: 0.15vw solid #b0b0b0;
}
.hrpBd {
  max-height: calc(100vh - 26vw);
  overflow: auto;
}
.hrpBdA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  padding: 0.6vw 0;
  border-bottom: 0.1vw solid #b0b0b0;
}
.hrpBdB {
  border-top: 0.05vw solid #b0b0b0;
  padding: 0.6vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2vw;
  font-weight: bold;
}
.hrpBdC {
  display: flex;
  justify-content: space-between;
  font-size: 1.4vw;
  font-weight: bold;
  padding: 0.6vw 0;
  border-top: 0.15vw solid #000;
  border-bottom: 0.15vw solid #000;
}
