.hstA {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  height: calc(100vh - 9vw);
  color: #000120;
}
.hstAa {
  width: 37vw;
  margin: 0vw 3vw;
}
.hstAb {
  font-weight: 500;
  font-size: 1.44vw;
  margin: 0vw 0.4vw;
  margin-top: 2vw;
}
.hstAc {
  font-size: 0.97vw;
  border-bottom: 0.06vw solid #b3c3de;
  padding: 0.2vw 0vw;
  margin: 0vw 0.4vw;
  margin-bottom: 1vw;
}
.hstAd {
  transition: 0.5s;
  background-color: #2d4c8600;
  padding: 0.4vw;
  margin: 0.3vw 0vw;
  border-radius: 0.2vw;
  cursor: pointer;
}
.hstAd:hover {
  transition: 100ms;
  background-color: #2d4c861f;
}
.hstAe {
  font-size: 0.91vw;
  color: #2d4c86;
  font-weight: 500;
}
.hstAf {
  font-size: 0.66vw;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////              FORM DATA              /////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hstD {
  height: calc(100vh - 6vw);
  overflow: auto;
}
.hstD1a {
  width: 100%;
  height: 5vw;
  background-color: #000120;
}
.hstDa {
  width: 100%;
}
.hstDa_ {
  font-size: 0.7vw;
  margin-top: 0.01vw;
  margin-left: 0.1vw;
}
.hstDb {
  width: 70%;
  height: 12vw;
  background-color: white;
  padding: 0.3vw;
  object-fit: cover;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.3vw #0000001a;
}
.hstDc {
  background-color: #d8dfe9;
  padding: 0.7vw;
  border: 0.01vw solid #52555a;
  border-radius: 0.2vw;
}
/* --START--This is for opening time and date marking */
.hstDcA {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hstDcAa,
.hstDcAa_ {
  background-color: #2d4c86;
  font-size: 0.9vw;
  font-weight: bold;
  color: white;
  padding: 0.3vw 1.3vw;
  border-radius: 0.2vw;
  border: 0.01vw solid #52555a;
  cursor: pointer;
}
.hstDcAa_ {
  background-color: white;
  color: black;
}
.hstDcAa__ {
  border: 0.2vw solid rgb(0, 137, 216);
}
.hstDcB {
  display: flex;
  align-items: center;
  margin-top: 0.8vw;
  color: var(--primart_blue);
  font-weight: 500;
  font-size: 0.8vw;
}
.hstDcC {
  font-size: 0.8vw;
  font-weight: 500;
  display: flex;
  width: 14vw;
  justify-content: space-between;
  margin-top: 1vw;
}
.hstDcD {
  display: flex;
  align-items: center;
  margin-top: 0.5vw;
}
.hstDcDa {
  width: 7vw;
  margin-right: 2vw;
}
/* --END-- */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////          PRODUCTON STATIONS         /////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hstN {
  height: calc(100vh - 10vw);
  overflow: auto;
}
.hstNaA {
  position: absolute;
  margin-top: 0.055vw;
  margin-left: 39.3%;
  height: 1.85vw;
  width: 2vw;
  background-image: url(../asset/ic_+1.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}
.hstNaB {
  width: 100%;
  height: 2vw;
}
.hstNb {
  margin: 1vw 0;
  padding: 1vw 0.8vw;
  background-color: #6e89b936;
  border-radius: 0.4vw;
}
.hstNbA {
  display: flex;
  font-size: 0.9vw;
  font-weight: 500;
  margin-bottom: 0.6vw;
}
.hstNbAa {
  width: 37%;
}
.hstNbB {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5vw;
  height: 1.7vw;
  font-size: 0.8vw;
}
.hstNbBa {
  width: 30%;
  background-color: white;
  margin-right: 1%;
  align-items: center;
  display: flex;
  padding: 0 0.8vw;
  border-radius: 0.2vw;
}
.hstNbBb,
.hstNbBb_1 {
  width: 53%;
  display: flex;
  align-items: center;
  padding: 0 0.8vw;
  border-radius: 0.2vw;
  background-color: #ffffff3a;
}
/* This is for prodect category discription only */
.hstNbBb_1 {
  width: 48%;
  background-color: #ffffff;
}
.hstNbBc {
  width: 1.7vw;
  background-color: var(--primart_blue);
  border-radius: 0.2vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../asset/ic_bin1.svg);
  cursor: pointer;
}
