/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////       ALLOWANCES & INCENTIVES      /////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hst1_4A {
  height: calc(100vh - 10vw);
  overflow: auto;
}
.hst2_4Aa {
  width: 100%;
}
.hst2_4Ab {
  background-color: #708aba34;
  border-radius: 0.8vw;
  padding: 1vw;
}
.hst2_4AbA {
  display: flex;
  font-size: 0.9vw;
  font-weight: 500;
  margin: 0.3vw 0;
}
.hst2_4AbAa {
  width: 40%;
}
.hst2_4AbAb {
  width: 60%;
}
.hst2_4AbB {
  display: flex;
  margin: 0.3vw 0;
}
.hst2_4AbBa {
  width: 38%;
  margin-right: 2%;
}
.hst2_4AbBb {
  width: 54%;
  margin-right: 1%;
}
.hst2_4AbBc {
  width: 5%;
  height: 1.7vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../asset/ic_bin1.svg);
  cursor: pointer;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////       ASSETS & RECURRING EXPENSES     ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hst2_6A {
  height: calc(100vh - 10vw);
  overflow: auto;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////           EQUITY & EARNINGS          ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hst2_6B {
  height: calc(100vh - 10vw);
  overflow: auto;
}
