.inpA {
  width: 20.6vw;
  border-radius: 0.19vw;
  border: 0.03vw solid #d5d9dd;
  height: 1.56vw;
  padding: 0vw 0.4vw;
  font-size: 0.69vw;
  color: #c2bebe;
  -webkit-appearance: none;
}
.inpA::placeholder {
  font-size: 0.69vw;
}
.inpA:focus {
  outline: 1px solid #2d4c86;
  color: #242629;
}
/* //////////////////////////////////////////////////////////////// */
.inpB {
  width: 13.05vw;
  border-radius: 0.19vw;
  border: 0.03vw solid #d5d9dd;
  height: 1.56vw;
  padding: 0vw 0.4vw;
  font-size: 0.69vw;
  color: #c2bebe;
  margin-right: 5px;
  background-color: white;
  -webkit-appearance: none;
  background-image: url(../asset/ic_down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.inpB:focus {
  outline: 0.03px solid #2d4c86;
}
/* //////////////////////////////////////////////////////////////// */
.inpC {
  width: 41.25vw;
  height: 11.95vw;
  background-color: white;
  border-radius: 0.19vw;
  border: 0.03vw solid #d5d9dd;
  position: relative;
}
.inpCa {
  width: 100%;
  height: 100%;
  position: absolute;
  color: transparent;
}
.inpCa:-moz-drag-over {
  visibility: hidden;
}
.inpCa::-webkit-file-upload-button {
  visibility: hidden;
}
.inpCb {
  width: 100%;
  height: 11.95vw;
}
.inpCbA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.inpCbB {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}
.inpCbC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6.25vw;
}
.inpCbD {
  width: 5.47vw;
  margin-bottom: 0.5vw;
}
.inpCbE {
  font-size: 0.88vw;
  text-align: center;
  color: #a2a3a3;
}
.inpCbF {
  display: flex;
  padding: 0.5vw 0.59vw;
  align-items: center;
  font-size: 0.88vw;
  background-color: #dddede;
}
.inpCbG {
  font-weight: 500;
}
.inpCbH {
  font-weight: 500;
  color: #123347;
}
.inpCbI {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
  padding: 20px;
}
.inpCbJ {
  margin: 0.5vw;
  height: 100px;
  width: 92px;
  object-fit: cover;
}
.inpCbJ_ {
  margin: 5px;
  height: 100px;
  width: 92px;
  object-fit: cover;
}
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
.inpD {
  position: fixed;
  top: 0vw;
  bottom: 0vw;
  left: 0vw;
  right: 0vw;
  background-color: #00000047;
}
