.lnA {
  position: fixed;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lnB {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
}
/* .lnC {
  position: fixed;
  display: flex;
  top: 0vw;
  right: 0vw;
  width: 430px;
  bottom: 0vw;
  filter: blur(18px);
  background-color: rgba(255, 255, 255, 0.203);
} */
.lnBa {
  width: calc(100vw - 25.1vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.lnBaA {
  font-size: 1.24vw;
  width: 35vw;
  padding-right: 20vw;
  margin-bottom: 1.45vw;
}
.lnBaB {
  font-size: 0.87vw;
  width: 35vw;
  padding-right: 20vw;
  font-weight: 350;
}
.lnBb {
  width: 25.1vw;
  background-color: #eff3fce7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  height: 100vh;
}
.lnBbA {
  width: 4.27vw;
  height: 4.27vw;
  background-color: white;
  border-radius: 0.87vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lnBbB {
  width: 65%;
}
.lnBbC {
  color: #213060;
  margin-top: 0.64vw;
  margin-bottom: 4.5vw;
  font-weight: 500;
  font-size: 0.87vw;
}
.lnBbD {
  width: 20.33vw;
  color: #213060;
  margin-bottom: 0.96vw;
  font-weight: 500;
  font-size: 0.99vw;
}
.lnBbE {
  background-color: white;
  border-radius: 0.43vw;
  display: flex;
  width: 20.33vw;
  height: 2.81vw;
  box-shadow: 0px 2px 8px #2e4c851c;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.7vw;
}
.lnBbF {
  color: #213060;
  font-size: 0.92vw;
  font-weight: 500;
  width: 40%;
  background-color: #e8eef6;
  border-radius: 0.43vw;
  padding: 0px 0.43vw;
  padding-top: 0.35vw;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.lnBbH {
  width: 1.3vw;
  height: 0.27vw;
  border-radius: 0.14vw;
  background-color: #213060;
  margin-top: 0.1vw;
  box-shadow: 0vw 0.1vw 0.2vw #306eff60;
}
.lnBbF_ {
  color: #a6aab2;
  font-size: 0.92vw;
  font-weight: 500;
  width: 40%;
  /* padding: 5px; */
  cursor: pointer;
}
.lnBbI {
  padding-top: 0.7vw;
  text-align: center;
  font-size: 0.7vw;
  color: #921b1b;
  width: 20.33vw;
}
.lnBbJ {
  width: 20.33vw;
  color: #666a71;
  font-weight: 200;
  font-size: 0.75vw;
  padding-top: 0.57vw;
  padding-bottom: 0.3vw;
  display: flex;
  justify-content: space-between;
}
.lnBbJa {
  color: #213060;
  cursor: pointer;
  font-size: 0.7vw;
  font-weight: 300;
}
.lnBbK {
  border: none;
  padding: 0.75vw;
  width: 18.84vw;
  border-radius: 0.43vw;
  font-size: 0.75vw;
}
.lnBbK::placeholder {
  color: #a6aab2;
  font-size: 0.75vw;
}
.lnBbK:focus {
  outline: none;
  color: #2f2f2f;
}
.lnBbK:-webkit-autofill {
  transition: all 0s 50000s;
}
.lnBbK:disabled {
  background-color: white;
}
.lnBbK-ic {
  position: relative;
  width: 1.39vw;
  height: 0.87vw;
  top: -1.74vw;
  right: -18.15vw;
  background-image: url(../asset/icon/eye1.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.lnBbL {
  width: 20.33vw;
  height: 2.75vw;
  font-weight: 500;
  background-color: #213060;
  border-radius: 0.43vw;
  color: white;
  font-size: 0.87vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.87vw;
  cursor: pointer;
  border: none;
}
.lnBbM {
  color: #213060;
  margin-top: 1.47vw;
  font-size: 0.87vw;
  font-weight: 500;
  cursor: pointer;
}
.lnBbN {
  color: #a6aab2;
  margin-top: 0.72vw;
  font-size: 0.87vw;
  font-weight: 500;
  cursor: pointer;
}
.lnC {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.493);
}
.lnCa {
  background-color: #eff3fc;
  border-radius: calc(32.19vw / 30);
  padding: 2.61vw 2.7vw;
}
.lnCb {
  color: #213060;
  font-weight: 500;
  font-size: 26.1vw;
  padding-bottom: 10px;
}
.lnCc {
  color: #666a71;
  font-size: 0.81vw;
  padding-top: 20px;
}
