.lnA {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lnB {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
/* .lnC {
  position: fixed;
  display: flex;
  top: 0px;
  right: 0px;
  width: 430px;
  bottom: 0px;
  filter: blur(18px);
  background-color: rgba(255, 255, 255, 0.203);
} */
.lnBa {
  /* width: calc(78vw - 445px); */
  width: 49vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8vw;
  padding-right: 10vw;
  color: white;
}
.lnBaA {
  /* font-size: 25px; */
  font-size: 1.66vw;
  margin-bottom: 1.67vw;
  padding-right: 50%;
}
.lnBaB {
  /* font-size: calc(37vw/30); */
  font-size: calc(35vw / 30);
  font-weight: 350;
}
.lnBb {
  /* width: 445px; */
  width: 33vw;
  background-color: #eff3fce7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.lnBbA {
  width: 5.7vw;
  height: 5.7vw;
  background-color: white;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lnBbB {
  width: 65%;
}
.lnBbC {
  color: #213060;
  margin-top: 10px;
  margin-bottom: 15%;
  font-weight: 500;
  font-size: 1.16vw;
}
.lnBbD {
  width: 27.26vw;
  color: #213060;
  margin-bottom: 1.27vw;
  font-weight: 500;
  font-size: 1.33vw;
}
.lnBbE {
  background-color: white;
  border-radius: 0.5vw;
  display: flex;
  width: 27.26vw;
  height: 3.77vw;
  box-shadow: 0px 2px 8px #2e4c851c;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.7vw;
}
.lnBbF {
  color: #213060;
  font-size: calc(37vw / 30);
  font-weight: 500;
  width: 40%;
  background-color: #e8eef6;
  border-radius: 0.5vw;
  padding: 0px 0.5vw;
  padding-top: 0.4vw;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.lnBbH {
  width: 1.73vw;
  height: 0.37vw;
  border-radius: 3px;
  background-color: #213060;
  margin-top: 1px;
  box-shadow: 0vw 0.1vw 0.2vw #306eff60;
}
.lnBbF_ {
  color: #a6aab2;
  font-size: calc(37vw / 30);
  font-weight: 500;
  width: 40%;
  padding: 5px;
  cursor: pointer;
}
.lnBbI {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #921b1b;
  width: 27.26vw;
}
.lnBbJ {
  width: calc(822vw / 30);
  color: #666a71;
  font-weight: 200;
  font-size: 1vw;
  padding-top: 0.77vw;
  padding-bottom: 0.39vw;
  display: flex;
  justify-content: space-between;
}
.lnBbJa {
  color: #213060;
  cursor: pointer;
  font-size: 0.8vw;
  font-weight: 300;
}
.lnBbK {
  border: none;
  padding: 1vw;
  width: calc(756vw / 30);
  border-radius: 0.5vw;
  font-size: 1vw;
}
.lnBbK::placeholder {
  color: #a6aab2;
  font-size: 1vw;
}
.lnBbK:focus {
  outline: none;
  color: #2f2f2f;
}
.lnBbK:-webkit-autofill {
  transition: all 0s 50000s;
}
.lnBbK:disabled {
  background-color: white;
}
.lnBbK-ic {
  position: relative;
  width: 1.6vw;
  height: 1vw;
  top: -2vw;
  right: -25vw;
  background-image: url(../asset/icon/eye1.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.lnBbL {
  width: 27.26vw;
  height: 3.67vw;
  font-weight: 500;
  background-color: #213060;
  border-radius: 0.5vw;
  color: white;
  font-size: 1.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.33vw;
  cursor: pointer;
  border: none;
}
.lnBbM {
  color: #213060;
  margin-top: 0.8vw;
  font-size: 1.17vw;
  font-weight: 500;
  cursor: pointer;
}
.lnBbN {
  color: #a6aab2;
  margin-top: 0.3vw;
  font-size: 1.17vw;
  font-weight: 500;
  cursor: pointer;
}
.lnC {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.493);
}
.lnCa {
  background-color: #eff3fc;
  border-radius: calc(37vw / 30);
  padding: 3vw 3.1vw;
}
.lnCb {
  color: #213060;
  font-weight: 500;
  font-size: 30vw;
  padding-bottom: 10px;
}
.lnCc {
  color: #666a71;
  font-size: 0.93vw;
  padding-top: 20px;
}
