/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////       HEADER 1       ///////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcA {
  height: 3vw;
  border-bottom: 0.07vw solid #d7dadd;
  display: flex;
  align-items: center;
  padding: 0vw 1.13vw;
  color: #2b2d30;
  font-size: 1.13vw;
  justify-content: space-between;
  background-color: white;
}
.zcAa {
  display: flex;
}
.zcAb {
  font-weight: bold;
  font-size: 1.05vw;
  cursor: pointer;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////       HEADER 2       ////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcB {
  height: 2.8vw;
  background-color: white;
  display: flex;
  padding-left: 0.4vw;
}
.zcBa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 0.9vw;
  font-weight: 500;
}
.zcBb {
  padding: 0vw 1vw;
  color: #707070;
  padding-bottom: 0.1vw;
}
.zcBb_ {
  padding: 0vw 1vw;
  color: #2d4c86;
  padding-bottom: 0.1vw;
}
.zcBc {
  /* min-width: 5.16vw; */
  margin-top: 0.5vw;
  height: 0.22vw;
  border-top-left-radius: 0.22vw;
  border-top-right-radius: 0.22vw;
  background-color: #2d4c86;
  width: 100%;
}
.zcBc_ {
  margin-top: 0.5vw;
  /* min-width: 5.16vw; */
  height: 0.22vw;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////      HEADER 3       //////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcC {
  height: 3vw;
  background-color: white;
  display: flex;
  margin-left: 0.4vw;
}
.zcCa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.zcCb {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0vw 0.5vw;
  font-weight: 500;
}
.zcCc {
  color: #707070;
  font-size: 0.75vw;
  padding-bottom: 0.1vw;
}
.zcCc_ {
  color: #2d4c86;
  font-size: 0.75vw;
  padding-bottom: 0.1vw;
}
.zcCd {
  min-width: 0.5vw;
  height: 0.5vw;
  padding: 0.25vw;
  border-radius: 50%;
  background-color: #2d4c86;
  margin-left: 0.4vw;
  font-size: 0.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.zcCd-r {
  background-color: #8d2a29;
}
.zcCe {
  min-width: 5.16vw;
  margin-top: 0.7vw;
  height: 0.22vw;
  border-top-left-radius: 0.22vw;
  border-top-right-radius: 0.22vw;
  background-color: #2d4c86;
  width: 100%;
}
.zcCe_ {
  margin-top: 0.7vw;
  min-width: 5.16vw;
  height: 0.22vw;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////      HEADER 4       /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcDa {
  background-color: #f3f6f6;
  font-weight: bold;
  font-size: 1.4vw;
  padding: 0.94vw 0.97vw;
  padding-bottom: 0vw;
  color: #123347;
}
.zcDb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f3f6f6;
  padding: 0vw 0.97vw;
  padding-bottom: 0.94vw;
  height: 1.53vw;
}
.zcDc {
  font-size: 0.88vw;
}
.zcDd {
  display: flex;
  align-items: center;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////       WARNING 1      ////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.zcEa {
  width: 10vw;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////     TITLE TABLE 1    /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcI {
  display: flex;
  justify-content: center;
  height: calc(100vh - 6.5vw);
  overflow: auto;
}
.zcIa {
  height: 5.9vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0vw 0.3vw;
  padding-bottom: 0.16vw;
  margin: 0vw 2vw;
}
.zcIaA {
  font-weight: 500;
  color: #2d4c86;
  font-size: 1.16vw;
}
.zcIaB {
  font-size: 0.88vw;
  color: #00012079;
  padding-top: 0.5vw;
}
.zcIc {
  transition: 0.1s;
  padding: 0.5vw 2.25vw;
  height: 5vw;
  width: 34.5vw;
  cursor: pointer;
}
.zcIc:hover {
  transition: 0.2s;
  padding: 0.25vw 2vw;
  height: 5.5vw;
  width: 35vw;
}
.zcIc:hover .zcIcD {
  transition: 0.2s;
  padding: 0.5vw 1.1vw;
  font-size: 0.7vw;
}
.zcIc:hover .zcIcB {
  transition: 0.2s;
  font-size: 0.95vw;
  padding-left: 0.1vw;
}
.zcIc:hover .zcIcC {
  transition: 0.2s;
  font-size: 0.7vw;
  padding-left: 0.1vw;
}
.zcIc_ {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0vw 0vw 0.38vw #00000033;
  border-radius: 0.22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.zcIcA {
  transition: 0.1s;
  padding: 0.63vw 1vw;
}
.zcIcB {
  transition: 0.1s;
  font-size: 0.91vw;
  font-weight: 500;
  color: #2d4c86;
}
.zcIcC {
  transition: 0.1s;
  font-size: 0.66vw;
  color: #00012079;
  padding-top: 0.3vw;
}
.zcIcD {
  transition: 0.1s;
  font-size: 0.66vw;
  font-weight: 500;
  color: #000120;
  padding: 0.4vw 1vw;
  margin: 0.05vw;
  background-color: #2d4c8615;
  border-bottom-left-radius: 0.22vw;
  border-bottom-right-radius: 0.22vw;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////    TITLE FILTER 1    /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zmcK {
  display: flex;
  align-items: center;
}
.zmcKa {
  border-radius: 0.28vw;
  width: 15vw;
  height: 1.8vw;
  padding-left: 0.5vw;
  padding-right: 2vw;
  border: 0.05vw solid #b3c3de;
  font-size: 0.66vw;
  background-image: url(../asset/ic_search.svg);
  background-repeat: no-repeat;
  background-size: 0.6vw;
  background-position: 16.3vw;
  padding: 0vw;
  padding-left: 0.5vw;
  padding-right: 2vw;
}
.zmcKa:focus {
  outline: none˝;
  border: 0.05vw solid #2d4c86;
}
.zmcKb {
  padding-right: 0.28vw;
  padding-left: 0.91vw;
  font-size: 0.66vw;
}
.zmcKc {
  border-radius: 0.28vw;
  height: 1.8vw;
  width: 7.11vw;
  border: 0.05vw solid #b3c3de;
  font-size: 0.66vw;
  color: #242629;
  background-image: url(../asset/ic_arrow_d.svg);
  background-repeat: no-repeat;
  background-size: 0.6vw;
  background-position: 5.8vw;
  padding-left: 0.5vw;
  padding-right: 2vw;
}
.zmcKc:focus {
  outline: none˝;
  border: 0.05vw solid #2d4c86;
}
.zmcKd {
  border-radius: 0.28vw;
  height: 1.4vw;
  width: 13vw;
  margin-left: 1.13vw;
  border: 0.05vw solid #b3c3de;
  font-size: 0.88vw;
  background-color: white;
  color: #2d4c86;
  font-weight: 500;
  padding-top: 0.4vw;
  padding-left: 0.4vw;
  background-image: url(../asset/ic_calender.svg);
  background-repeat: no-repeat;
  background-size: 1.16vw;
  background-position: 11.7vw;
}
.zmcKe {
  position: relative;
}
.zmcKeA {
  border-radius: 0.28vw;
  height: 1.4vw;
  width: 8vw;
  margin-left: 0.78vw;
  padding-left: 1.22vw;
  padding-top: 0.4vw;
  font-size: 0.88vw;
  background-color: #2d4c86;
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-image: url(../asset/ic_arrow_d_2.svg);
  background-repeat: no-repeat;
  background-size: 0.6vw;
  background-position: 8vw;
}
.zmcKeB {
  display: none;
}
.zmcKeB_ {
  position: fixed;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
}
/*/////////////////////////////////////////////  HEADER CALENDER BODY  //////////////////////////////////////////////*/
.zmcKeC {
  display: none;
}
.zmcKeC_ {
  position: absolute;
  right: 0vw;
  width: 45vw;
  /* height: 16vw; */
  margin-top: 0.5vw;
  background-color: white;
  box-shadow: 0vw 0vw 0.5vw #0000002c;
  border-radius: 0.2vw;
}
.zmcKeCa {
  display: flex;
  justify-content: flex-end;
}
.zmcKeCb {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0.5vw 0vw 0.5vw #00000013;
  margin-right: 0.5vw;
}
.zmcKeCc {
  display: flex;
}
.zmcKeCd {
  padding: 0.28vw 1.25vw;
  background-color: #2d4c86;
  color: white;
  border-radius: 0.28vw;
  font-size: 0.78vw;
  font-weight: 500;
  margin-right: 2vw;
  cursor: pointer;
}
.zmcKeCe {
  padding: 0.2vw;
  font-weight: 500;
  color: #1c1e22;
  font-size: 0.7vw;
}
.zmcKeCf {
  transition: 500ms;
  width: 6vw;
  border-radius: 0.28vw;
  background-color: #f5f5f6;
  margin: 0.2vw;
  padding: 0.31vw 0.94vw;
}
.zmcKeCf:hover {
  transition: 100ms;
  background-color: #6a77993f;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////   HEADER CALENDER    ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.zmcL {
  margin: 1.5vw 2vw;
  margin-left: 0vw;
}
.zmcLa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14.7vw;
}
.zmcLb {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-image: url(../asset/ic_arrow_l2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.3vw;
  cursor: pointer;
}
.zmcLb:hover {
  background-color: #00012013;
}
.zmcLc {
  font-size: 0.88vw;
  color: #1c1e22;
  font-weight: bold;
}
.zmcLd {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-image: url(../asset/ic_arrow_r2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.3vw;
  cursor: pointer;
}
.zmcLd:hover {
  background-color: #00012013;
}
.zmcLe {
  font-size: 0.7vw;
  color: #1c1e22;
  display: flex;
  font-weight: 500;
  padding: 0.63vw 0vw;
  border-bottom: 0.05vw solid #cfd2d8;
  margin-bottom: 0.5vw;
}
.zmcLf {
  width: 2.1vw;
  text-align: center;
}
.zmeLg {
  display: flex;
  flex-wrap: wrap;
  width: 14.7vw;
  font-weight: 500;
}
.zmeLh,
.zmeLh_,
.zmeLh__ {
  text-align: center;
  padding: 0.25vw 0vw;
  width: 2.1vw;
  font-size: 0.7vw;
  color: #1c1e22;
  cursor: pointer;
}
.zmeLh_ {
  background-color: #6a779948;
}
.zmeLh__ {
  color: white;
  background-color: #2d4c86;
  border-radius: 0.28vw;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////   HEADER BUTTON 1    ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.zmcN {
  display: flex;
  align-items: center;
}
.zmcNa {
  height: 1.56vw;
  width: 1.56vw;
  background-image: url(../asset/ic_download.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.zmcNb {
  height: 1.56vw;
  width: 1.56vw;
  height: 1.56vw;
  width: 1.56vw;
  background-image: url(../asset/ic_share.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.38vw;
  cursor: pointer;
}
.zmcNc {
  margin-left: 0.38vw;
  height: 1.46vw;
  display: flex;
  position: relative;
  cursor: pointer;
}
.zmcNcA {
  height: 1.06vw;
  padding: 0.2vw 0.6vw;
  min-width: 6vw;
  color: white;
  font-weight: 500;
  font-size: 0.78vw;
  background-color: #2d4c86;
  border-top-left-radius: 0.2vw;
  border-bottom-left-radius: 0.2vw;
}
.zmcNcB {
  height: 1.46vw;
  width: 1.46vw;
  background-image: url(../asset/ic_drop_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.zmcNcC {
  transition: height 0.1s;
  width: 0vw;
  height: 0vw;
  overflow: hidden;
}
.zmcNcC_ {
  transition: height 0.2s;
  position: absolute;
  background-color: white;
  width: 100%;
  top: 1.6vw;
  box-shadow: 0vw 0vw 0.5vw #0000002c;
  padding-bottom: 0.2vw;
}
.zmcNcD {
  display: none;
}
.zmcNcD_ {
  position: fixed;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
}
.zmcNcE {
  padding: 0.25vw 0vw;
  padding-left: 1vw;
  font-size: 0.7vw;
}
.zmcNcE:hover {
  background-color: #11000120;
}