/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////       HEADER 1       ///////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcmA {
  height: 3vw;
  border-bottom: 0.07vw solid #d7dadd;
  display: flex;
  align-items: center;
  padding: 0vw 1.13vw;
  color: #2b2d30;
  font-size: 1.13vw;
  justify-content: space-between;
  background-color: white;
}
.zcmAa {
  display: flex;
}
.zcmAb {
  font-weight: bold;
  font-size: 1.05vw;
  cursor: pointer;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////       HEADER 2       ////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcmB {
  height: 2.8vw;
  background-color: white;
  display: flex;
  padding-left: 0.4vw;
}
.zcmBa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 0.9vw;
  font-weight: 500;
}
.zcmBb {
  padding: 0vw 1vw;
  color: #707070;
  padding-bottom: 0.1vw;
}
.zcmBb_ {
  padding: 0vw 1vw;
  color: #2d4c86;
  padding-bottom: 0.1vw;
}
.zcmBc {
  /* min-width: 5.16vw; */
  margin-top: 0.5vw;
  height: 0.22vw;
  border-top-left-radius: 0.22vw;
  border-top-right-radius: 0.22vw;
  background-color: #2d4c86;
  width: 100%;
}
.zcmBc_ {
  margin-top: 0.5vw;
  /* min-width: 5.16vw; */
  height: 0.22vw;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////      HEADER 3       //////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcmC {
  height: 3vw;
  background-color: white;
  display: flex;
  margin-left: 0.4vw;
}
.zcmCa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.zcmCb {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0vw 0.5vw;
  font-weight: 500;
}
.zcmCc {
  color: #707070;
  font-size: 0.75vw;
  padding-bottom: 0.1vw;
}
.zcmCc_ {
  color: #2d4c86;
  font-size: 0.75vw;
  padding-bottom: 0.1vw;
}
.zcmCd {
  min-width: 0.5vw;
  height: 0.5vw;
  padding: 0.25vw;
  border-radius: 50%;
  background-color: #2d4c86;
  margin-left: 0.4vw;
  font-size: 0.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.zcmCd-r {
  background-color: #8d2a29;
}
.zcmCe {
  min-width: 5.16vw;
  margin-top: 0.7vw;
  height: 0.22vw;
  border-top-left-radius: 0.22vw;
  border-top-right-radius: 0.22vw;
  background-color: #2d4c86;
  width: 100%;
}
.zcmCe_ {
  margin-top: 0.7vw;
  min-width: 5.16vw;
  height: 0.22vw;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////      HEADER 4       /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcmDa {
  background-color: #f3f6f6;
  font-weight: bold;
  font-size: 1.4vw;
  padding: 0.94vw 0.97vw;
  padding-bottom: 0vw;
  color: #123347;
}
.zcmDb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f3f6f6;
  padding: 0vw 0.97vw;
  padding-bottom: 0.94vw;
  height: 1.53vw;
}
.zcmDc {
  font-size: 0.88vw;
}
.zcmDd {
  display: flex;
  align-items: center;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////       WARNING 1      ////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcmE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.zcmEa {
  width: 10vw;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////        TABLE 1       /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcmH {
  background-color: #fff;
  margin: 0vw 0.97vw;
  border-radius: 0.19vw;
  border: 0.03vw solid #c6d5fb;
}
.zcmHa {
  padding: 0vw 0.5vw;
  background-color: #c6d5fb;
  height: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.86vw;
  color: #123347;
}
.zcmHb {
  height: calc(100vh - 21vw);
  background-color: white;
  overflow: auto;
  border-radius: 0.47vw;
  font-size: 0.8vw;
  font-weight: 500;
}
.zcmHbA {
  padding: 0vw 0.5vw;
  height: 3.1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.zcmHbA:nth-child(even) {
  background-color: #f3f6f6;
}
.zcmHbB0 {
  color: #123347;
}
.zcmHbB1 {
  display: flex;
  justify-content: center;
}
.zcmHbB1A {
  height: 2vw;
  width: 2vw;
  border-radius: 1.53vw;
  background-color: #c6d5fb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b7abe;
  font-weight: bold;
  font-size: 1.06vw;
}
.zcmHbB2A {
  width: 90%;
  max-height: 1.9vw;
  overflow: hidden;
  color: #2d4c86;
  font-size: 0.82vw;
}
.zcmHbB2B {
  color: #595d68;
  font-size: 0.7vw;
}
.zcmHbB3 {
  color: #2d4c86;
}
/* /////////////////////   FOOTER  ////////////////////////// */
.zcmHc {
  display: inline;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////     TITLE TABLE 1    /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zcmI {
  display: flex;
  justify-content: center;
  height: calc(100vh - 6.5vw);
  overflow: auto;
}
.zcmIa {
  height: 5.9vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0vw 0.3vw;
  padding-bottom: 0.16vw;
  margin: 0vw 2vw;
}
.zcmIaA {
  font-weight: 500;
  color: #2d4c86;
  font-size: 1.16vw;
}
.zcmIaB {
  font-size: 0.88vw;
  color: #00012079;
  padding-top: 0.5vw;
}
.zcmIc {
  transition: 0.1s;
  padding: 0.5vw 2.25vw;
  height: 5vw;
  width: 34.5vw;
  cursor: pointer;
}
.zcmIc:hover {
  transition: 0.2s;
  padding: 0.25vw 2vw;
  height: 5.5vw;
  width: 35vw;
}
.zcmIc:hover .zcmIcD {
  transition: 0.2s;
  padding: 0.5vw 1.1vw;
  font-size: 0.7vw;
}
.zcmIc:hover .zcmIcB {
  transition: 0.2s;
  font-size: 0.95vw;
  padding-left: 0.1vw;
}
.zcmIc:hover .zcmIcC {
  transition: 0.2s;
  font-size: 0.7vw;
  padding-left: 0.1vw;
}
.zcmIc_ {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0vw 0vw 0.38vw #00000033;
  border-radius: 0.22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.zcmIcA {
  transition: 0.1s;
  padding: 0.63vw 1vw;
}
.zcmIcB {
  transition: 0.1s;
  font-size: 0.91vw;
  font-weight: 500;
  color: #2d4c86;
}
.zcmIcC {
  transition: 0.1s;
  font-size: 0.66vw;
  color: #00012079;
  padding-top: 0.3vw;
}
.zcmIcD {
  transition: 0.1s;
  font-size: 0.66vw;
  font-weight: 500;
  color: #000120;
  padding: 0.4vw 1vw;
  margin: 0.05vw;
  background-color: #2d4c8615;
  border-bottom-left-radius: 0.22vw;
  border-bottom-right-radius: 0.22vw;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////    TITLE FILTER 1    /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.zmcK {
  display: flex;
  align-items: center;
}
.zmcKa {
  border-radius: 0.28vw;
  width: 15vw;
  height: 1.8vw;
  padding-left: 0.5vw;
  padding-right: 2vw;
  border: 0.05vw solid #b3c3de;
  font-size: 0.66vw;
  background-image: url(../asset/ic_search.svg);
  background-repeat: no-repeat;
  background-size: 0.6vw;
  background-position: 16.3vw;
  padding: 0vw;
  padding-left: 0.5vw;
  padding-right: 2vw;
}
.zmcKa:focus {
  outline: none˝;
  border: 0.05vw solid #2d4c86;
}
.zmcKb {
  padding-right: 0.28vw;
  padding-left: 0.91vw;
  font-size: 0.66vw;
}
.zmcKc {
  border-radius: 0.28vw;
  height: 1.8vw;
  width: 7.11vw;
  border: 0.05vw solid #b3c3de;
  font-size: 0.66vw;
  color: #242629;
  background-image: url(../asset/ic_arrow_d.svg);
  background-repeat: no-repeat;
  background-size: 0.6vw;
  background-position: 5.8vw;
  padding-left: 0.5vw;
  padding-right: 2vw;
}
.zmcKc:focus {
  outline: none˝;
  border: 0.05vw solid #2d4c86;
}
.zmcKd {
  border-radius: 0.28vw;
  height: 1.4vw;
  width: 13vw;
  margin-left: 1.13vw;
  border: 0.05vw solid #b3c3de;
  font-size: 0.88vw;
  background-color: white;
  color: #2d4c86;
  font-weight: 500;
  padding-top: 0.4vw;
  padding-left: 0.4vw;
  background-image: url(../asset/ic_calender.svg);
  background-repeat: no-repeat;
  background-size: 1.16vw;
  background-position: 11.7vw;
}
.zmcKe {
  position: relative;
}
.zmcKeA {
  border-radius: 0.28vw;
  height: 1.4vw;
  width: 8vw;
  margin-left: 0.78vw;
  padding-left: 1.22vw;
  padding-top: 0.4vw;
  font-size: 0.88vw;
  background-color: #2d4c86;
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-image: url(../asset/ic_arrow_d_2.svg);
  background-repeat: no-repeat;
  background-size: 0.6vw;
  background-position: 8vw;
}
.zmcKeB {
  display: none;
}
.zmcKeB_ {
  position: fixed;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
}
/*/////////////////////////////////////////////  HEADER CALENDER BODY  //////////////////////////////////////////////*/
.zmcKeC {
  display: none;
}
.zmcKeC_ {
  position: absolute;
  right: 0vw;
  width: 45vw;
  /* height: 16vw; */
  margin-top: 0.5vw;
  background-color: white;
  box-shadow: 0vw 0vw 0.5vw #0000002c;
  border-radius: 0.2vw;
}
.zmcKeCa {
  display: flex;
  justify-content: flex-end;
}
.zmcKeCb {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0.5vw 0vw 0.5vw #00000013;
  margin-right: 0.5vw;
}
.zmcKeCc {
  display: flex;
}
.zmcKeCd {
  padding: 0.28vw 1.25vw;
  background-color: #2d4c86;
  color: white;
  border-radius: 0.28vw;
  font-size: 0.78vw;
  font-weight: 500;
  margin-right: 2vw;
  cursor: pointer;
}
.zmcKeCe {
  padding: 0.2vw;
  font-weight: 500;
  color: #1c1e22;
  font-size: 0.7vw;
}
.zmcKeCf {
  transition: 500ms;
  width: 6vw;
  border-radius: 0.28vw;
  background-color: #f5f5f6;
  margin: 0.2vw;
  padding: 0.31vw 0.94vw;
}
.zmcKeCf:hover {
  transition: 100ms;
  background-color: #6a77993f;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////   HEADER CALENDER    ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.zmcL {
  margin: 1.5vw 2vw;
  margin-left: 0vw;
}
.zmcLa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14.7vw;
}
.zmcLb {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-image: url(../asset/ic_arrow_l2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.3vw;
  cursor: pointer;
}
.zmcLb:hover {
  background-color: #00012013;
}
.zmcLc {
  font-size: 0.88vw;
  color: #1c1e22;
  font-weight: bold;
}
.zmcLd {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-image: url(../asset/ic_arrow_r2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.3vw;
  cursor: pointer;
}
.zmcLd:hover {
  background-color: #00012013;
}
.zmcLe {
  font-size: 0.7vw;
  color: #1c1e22;
  display: flex;
  font-weight: 500;
  padding: 0.63vw 0vw;
  border-bottom: 0.05vw solid #cfd2d8;
  margin-bottom: 0.5vw;
}
.zmcLf {
  width: 2.1vw;
  text-align: center;
}
.zmeLg {
  display: flex;
  flex-wrap: wrap;
  width: 14.7vw;
  font-weight: 500;
}
.zmeLh,
.zmeLh_,
.zmeLh__ {
  text-align: center;
  padding: 0.25vw 0vw;
  width: 2.1vw;
  font-size: 0.7vw;
  color: #1c1e22;
  cursor: pointer;
}
.zmeLh_ {
  background-color: #6a779948;
}
.zmeLh__ {
  color: white;
  background-color: #2d4c86;
  border-radius: 0.28vw;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////   HEADER BUTTON 1    ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.zmcN {
  display: flex;
  align-items: center;
}
.zmcNa {
  height: 1.56vw;
  width: 1.56vw;
  background-image: url(../asset/ic_download.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.zmcNb {
  height: 1.56vw;
  width: 1.56vw;
  height: 1.56vw;
  width: 1.56vw;
  background-image: url(../asset/ic_share.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.38vw;
  cursor: pointer;
}
.zmcNc {
  margin-left: 0.38vw;
  height: 1.46vw;
  display: flex;
  position: relative;
  cursor: pointer;
}
.zmcNcA {
  height: 1.06vw;
  padding: 0.2vw 0.6vw;
  min-width: 6vw;
  color: white;
  font-weight: 500;
  font-size: 0.78vw;
  background-color: #2d4c86;
  border-top-left-radius: 0.2vw;
  border-bottom-left-radius: 0.2vw;
}
.zmcNcB {
  height: 1.46vw;
  width: 1.46vw;
  background-image: url(../asset/ic_drop_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.zmcNcC {
  transition: height 0.1s;
  width: 0vw;
  height: 0vw;
  overflow: hidden;
}
.zmcNcC_ {
  transition: height 0.2s;
  position: absolute;
  background-color: white;
  width: 100%;
  top: 1.6vw;
  box-shadow: 0vw 0vw 0.5vw #0000002c;
  padding-bottom: 0.2vw;
}
.zmcNcD {
  display: none;
}
.zmcNcD_ {
  position: fixed;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
}
.zmcNcE {
  padding: 0.25vw 0vw;
  padding-left: 1vw;
  font-size: 0.7vw;
}
.zmcNcE:hover {
  background-color: #11000120;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////        FORM 1        ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.zmcQ {
  margin: 0.5vw 1vw;
}
.zmcQa {
  border: 0.07vw solid #ced0d3;
  border-radius: 0.16vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}
.zmcQaA {
  display: flex;
}
.zmcQaAa {
  margin-right: 0.9vw;
}
.zmcQaAaA {
  font-size: 0.88vw;
  font-weight: bold;
  padding-bottom: 0.15vw;
}
.zmcQaAaB {
  width: 16.25vw;
  height: 1.63vw;
  padding: 0vw 0.5vw;
  border: 0.07vw solid #ced0d3;
  border-radius: 0.25vw;
  background-image: url(../asset/ic_drop_2.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.zmcQaAaB:focus {
  outline: none;
}
.zmcQaAaB option {
  background-color: white !important;
  color: red;
}
.zmcQaAaC {
  width: 10vw;
  height: 1.5vw;
  border: 0.07vw solid #ced0d3;
  border-radius: 0.25vw;
  background-image: url(../asset/ic_calender2.svg);
  background-position: right;
  background-size: 1.63vw;
  background-repeat: no-repeat;
}
.zmcQaB {
  width: 12.5vw;
  color: #3d424e;
}
.zmcQaBa {
  font-weight: bold;
  font-size: 0.88vw;
}
.zmcQaBb {
  font-size: 0.8vw;
}
.zmcQb {
  border: 0.07vw solid #707070;
  margin-top: 0.7vw;
  border-radius: 0.32vw;
}
.zmcQbA {
  background-color: #707070;
  font-size: 0.88vw;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0.22vw;
  border-top-right-radius: 0.22vw;
}
.zmcQbAa {
  width: 2.8%;
}
.zmcQbAb {
  padding: 0.68vw;
  border-left: 0.07vw solid #ced0d3;
  width: calc(54% - 1.36vw);
}
.zmcQbAc {
  padding: 0.68vw;
  border-left: 0.07vw solid #ced0d3;
  width: calc(6% - 1.36vw);
}
.zmcQbAd {
  padding: 0.68vw;
  border-left: 0.07vw solid #ced0d3;
  width: calc(8% - 1.36vw);
}
.zmcQbAe {
  padding: 0.68vw;
  border-left: 0.07vw solid #ced0d3;
  width: calc(7% - 1.36vw);
}
.zmcQbAf {
  padding: 0.68vw;
  border-left: 0.07vw solid #ced0d3;
  width: calc(8% - 1.36vw);
}
.zmcQbAg {
  border-left: 0.07vw solid #ced0d3;
  width: calc(7% - 1.36vw);
  padding: 0.68vw;
}
.zmcQbAh {
  border-left: 0.07vw solid #ced0d3;
  width: calc(7% - 1.36vw);
  padding: 0.68vw;
}
.zmcQbB {
  display: flex;
  font-size: 0.88vw;
}
.zmcQbB:nth-of-type(odd) {
  background-color: white;
}
.zmcQbB:last-child {
  border-bottom-left-radius: 0.22vw;
  border-bottom-right-radius: 0.22vw;
}
.zmcQbBa {
  width: calc(2.8% - 0.2vw);
  margin: 0.1vw;
}
.zmcQbBb {
  width: calc(54% - 0.4vw);
  margin: 0.2vw;
  padding: 0vw 0.5vw;
  height: 2vw;
  background-image: url(../asset/ic_drop_2.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.zmcQbBc {
  width: calc(6% - 0.4vw);
  margin: 0.2vw;
  height: 1.86vw;
  background-color: white;
}
.zmcQbBd {
  width: calc(8% - 0.4vw);
  margin: 0.2vw;
  height: 1.86vw;
  background-color: white;
}
.zmcQbBe {
  width: calc(7% - 0.4vw);
  margin: 0.2vw;
  height: 1.86vw;
  background-color: white;
}
.zmcQbBf {
  width: calc(8% - 0.4vw);
  margin: 0.2vw;
  padding: 0vw 0.5vw;
  height: 2vw;
  background-image: url(../asset/ic_drop_2.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.zmcQbBg {
  width: calc(7% - 0.4vw);
  margin: 0.2vw;
  display: flex;
  align-items: center;
}
.zmcQbBh {
  width: calc(7% - 0.4vw);
  margin: 0.2vw;
  display: flex;
  align-items: center;
}
.zmcQc {
  border: 0.07vw solid #ced0d3;
  border-radius: 0.16vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  margin-top: 1vw;
}
.zmcQcA {
  color: #3d424e;
}
.zmcQcAa {
  font-size: 0.8vw;
  font-weight: 500;
  color: #3d424e;
  padding-bottom: 0.38vw;
}
.zmcQcAb {
  width: 34.38vw;
  height: 5vw;
  margin-bottom: 1vw;
}
.zmcQcAc {
  width: 34.38vw;
  height: 3vw;
}
.zmcQcB {
  width: 30vw;
}
.zmcQcBa {
  font-size: 0.8vw;
  font-weight: 500;
  padding-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.zmcQcBb {
  width: 5vw;
  height: 1.5vw;
  text-align: right;
}
.zmcQcBc {
  font-size: 1vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
