/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////        FORM 1        ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.zfB {
  margin: 0.5vw 1vw;
}
.zfBa {
  border: 0.07vw solid #ced0d3;
  border-radius: 0.16vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}
.zfBaA {
  display: flex;
}
.zfBaAa {
  margin-right: 0.9vw;
}
.zfBaAaA {
  font-size: 0.88vw;
  font-weight: bold;
  padding-bottom: 0.15vw;
}
.zfBaAaB {
  width: 15vw;
}
.zfBaAaC {
  width: 8.75vw;
  height: 1.7vw;
}
.zfBaB {
  width: 12.5vw;
  color: #3d424e;
}
.zfBaBa {
  font-weight: bold;
  font-size: 0.88vw;
}
.zfBaBb {
  font-size: 0.8vw;
}
.zfBb {
  border: 0.07vw solid #707070;
  margin-top: 0.7vw;
  border-radius: 0.32vw;
}
.zfBbA {
  background-color: #707070;
  font-size: 0.88vw;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0.22vw;
  border-top-right-radius: 0.22vw;
}
.zfBbA_t {
  padding: 0.48vw;
  margin: 0.2vw;
  border-left: 0.07vw solid #ced0d3;
  box-sizing: border-box;
}
.zfBbA_d {
  margin: 0.2vw;
  box-sizing: border-box;
  height: 2vw;
  display: flex;
  align-items: center;
}
.zfBbAa {
  width: 2.8%;
}
.zfBbAa_{
  background-image: url(../asset/ic_bin2.svg);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.zfBbAb {
  width: 54%;
}
.zfBbAc {
  width: 6%;
}
.zfBbAd {
  width: 8%;
}
.zfBbAe {
  width: 7%;
}
.zfBbAg {
  width: 7%;
}
.zfBbB {
  display: flex;
  font-size: 0.88vw;
  background-color: white;
}
.zfBbB:nth-of-type(odd) {
  background-color: white;
}
.zfBbB:last-child {
  border-bottom-left-radius: 0.22vw;
  border-bottom-right-radius: 0.22vw;
  filter: opacity(50%);
}
/* .zfBbBa {
  background-image: url(../asset/ic_bin2.svg);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.zfBbB:last-child .zfBbBa {
  visibility: hidden;
}
.zfBbBf {
  min-width: calc(8% - 0.4vw);
  margin: 0.2vw;
  padding: 0vw 0.5vw;
  height: 2vw;
  background-image: url(../asset/ic_drop_2.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
} */
.zfBc {
  border: 0.07vw solid #ced0d3;
  border-radius: 0.16vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  margin-top: 1vw;
}
.zfBcA {
  color: #3d424e;
}
.zfBcAa {
  font-size: 0.8vw;
  font-weight: 500;
  color: #3d424e;
  padding-bottom: 0.38vw;
}
.zfBcAb {
  width: 34.38vw;
  height: 5vw;
  margin-bottom: 1vw;
}
.zfBcAc {
  width: 34.38vw;
  height: 3vw;
}
.zfBcB {
  width: 30vw;
}
.zfBcBa {
  font-size: 0.8vw;
  font-weight: 500;
  padding-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.zfBcBb {
  width: 5vw;
  text-align: right;
}
.zfBcBc {
  font-size: 1vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.zfBd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1vw;
}
.zfBdA {
  margin-left: 0.38vw;
  height: 1.6vw;
  display: flex;
  position: relative;
  cursor: pointer;
}
.zfBdAa {
  height: 1vw;
  padding: 0.3vw 0.6vw;
  min-width: 6vw;
  color: white;
  font-weight: 500;
  font-size: 0.8vw;
  background-color: #2d4c86;
  border-top-left-radius: 0.2vw;
  border-bottom-left-radius: 0.2vw;
  text-align: center;
}
.zfBdAb {
  height: 1.6vw;
  width: 1.6vw;
  background-image: url(../asset/ic_drop1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.zfBdAc {
  transition: height 0.1s;
  width: 0vw;
  height: 0vw;
  overflow: hidden;
}
.zfBdAc_ {
  transition: height 0.2s;
  position: absolute;
  background-color: white;
  width: 100%;
  top: 1.6vw;
  box-shadow: 0vw 0vw 0.5vw #0000002c;
  padding-bottom: 0.2vw;
}
.zfBdAd {
  display: none;
}
.zfBdAd_ {
  position: fixed;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
}
.zfBdAe {
  padding: 0.25vw 0vw;
  padding-left: 1vw;
  font-size: 0.7vw;
}
.zfBdAe:hover {
  background-color: #11000120;
}
.zfBdB {
  background-color: #2d4c86cf;
  height: 1vw;
  padding: 0.3vw 2vw;
  border-radius: 0.2vw;
  color: white;
  font-size: 0.8vw;
  font-weight: 500;
  margin-left: 1vw;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////           DROWER 1           ///////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
.zfDa {
  background-color: #0000001e;
  position: fixed;
  top: 0vw;
  bottom: 0vw;
  left: 0vw;
  right: 0vw;
}
.zfDa_ {
  display: none;
}
.zfDb,
.zfDb_ {
  transition: 0.3s;
  width: 45vw;
  position: fixed;
  top: 0vw;
  right: 0vw;
  bottom: 0vw;
  background-color: white;
}
.zfDb_ {
  transition: 0.8s;
  right: -45vw;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////        DROWER VIEW 1         ///////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////           HEADER             ///////////////////////////////// */
.zfEa {
  padding: 0.8vw;
  border-bottom: 0.05vw solid #dcdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zfEaA {
  color: #31363f;
  font-size: 1.13vw;
  font-weight: bold;
}
.zfEaB {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-image: url(../asset/ic_close.svg);
  background-size: 1.2vw 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
}
.zfEaB:hover {
  background-color: #00000003;
  cursor: pointer;
}
/* ///////////////////////////////////            BODY              ///////////////////////////////// */
.zfEb {
  height: calc(100vh - 6.5vw);
  display: flex;
}
/* ///////////////////////////////////          COLUMN 1            ///////////////////////////////// */
.zfEbA {
  overflow: auto;
  height: 100%;
  width: 17vw;
  border-right: 0.05vw solid #dcdbdb;
}
.zfEbAa {
  margin: 1vw 4.4vw;
  position: relative;
  height: 8vw;
}
.zfEbAaA {
  position: absolute;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  object-fit: contain;
  background-color: #2d4c862a;
  background-image: url(../asset/ic_profile.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.zfEbAaB {
  top: 0;
  left: 0;
  position: absolute;
  height: 8vw;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zfEbAaBa {
  transition: 0.5s;
  height: 2vw;
  width: 2vw;
  background-image: url(../asset/ic_cam.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(0);
}
.zfEbAaB:hover .zfEbAaBa {
  transition: 0.2s;
  height: 3vw;
  width: 3vw;
  filter: opacity(1);
}
.zfEbAaC {
  display: none;
}
.zfEbAb,
.zfEbAb_ {
  color: #31363f;
  font-weight: 500;
  font-size: 0.8vw;
  padding: 0.3vw 20%;
  cursor: pointer;
}
.zfEbAb_ {
  background-color: #c6d5fb;
  padding: 0.3vw 15%;
}
/* ///////////////////////////////////          COLUMN 2            ///////////////////////////////// */
.zfEbB {
  overflow: auto;
  height: 100%;
  width: 28vw;
}
.zfEbBa {
  font-size: 0.88vw;
  font-weight: 500;
  padding: 1vw;
  background-color: #eeeeee;
  color: #31363f;
}
.zfEbBb {
  padding: 0 1vw;
  padding-bottom: 1vw;
}
.zfEbBbA {
  font-size: 0.8vw;
  color: #31363f;
  padding-bottom: 0.18vw;
  padding-top: 1vw;
  display: flex;
  justify-content: space-between;
}
.zfEbBbAa {
  width: 48%;
}
.zfEbBbB {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.zfEbBbBa {
  width: 48%;
}
.zfEbBbBb {
  width: 48%;
  background-color: #c4c4c4;
  border-radius: 1.5vw;
  color: white;
  display: flex;
  font-size: 0.8vw;
  cursor: pointer;
}
.zfEbBbBbA,
.zfEbBbBbA_,
.zfEbBbBbA__ {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zfEbBbBbA_ {
  background-color: #48b183;
  border-radius: 1.5vw;
}
.zfEbBbBbA__ {
  background-color: #8d2a29;
  border-radius: 1.5vw;
}
.zfEbBbBc {
  width: 85%;
  font-size: 0.68vw;
  font-weight: 500;
  margin-top: 0.3vw;
}
.zfEbBbBcA {
  margin-top: 0.1vw;
  font-size: 0.55vw;
  color: #727374;
}
.zfEbBc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8vw;
  font-weight: 500;
  margin: 0.5vw 1vw;
}
.zfEbBcB {
  width: 50%;
}

/* ///////////////////////////////////         FOOTER           ///////////////////////////////// */
.zfEd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.6vw 1vw;
  border-top: 0.05vw solid #dcdbdb;
}

.zfEdA {
  margin: 0 1vw;
  font-size: 0.8vw;
  color: rgb(255, 84, 84);
}
.zfEdB {
  margin-right: 0.3vw;
  color: white;
  font-size: 0.88vw;
  font-weight: 500;
  background-color: #5b7abe;
  padding: 0.5vw 0;
  width: 6vw;
  text-align: center;
  border-radius: 0.2vw;
  cursor: pointer;
}
.zfEdC,
.zfEdC_ {
  color: white;
  font-size: 0.88vw;
  font-weight: 500;
  background-color: #2d4c86;
  padding: 0.5vw 0;
  width: 6vw;
  text-align: center;
  border-radius: 0.2vw;
  cursor: pointer;
}
.zfEdC_ {
  background-color: #2d4c86bc;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////      ADDING FORM LAYOUT      ////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.zfG {
  padding: 1vw 1vw;
}
.zfGa {
  font-size: 0.94vw;
  font-weight: bold;
  color: #3d424e;
}
.zfGb {
  width: 2.81vw;
  height: 0.13vw;
  background-color: #2d4c86;
  margin-top: 0.44vw;
}
.zfGc {
  display: flex;
  justify-content: space-between;
}
.zfGcA {
  width: 35%;
  color: #757a82;
  font-size: 0.78vw;
  margin-top: 1.06vw;
}
.zfGcB {
  width: 60%;
}

/* /////////////////////////////////////             ASSET INPUT             /////////////////////////////////////// */
.zfH {
  width: 65%;
  margin-left: 30%;
}
.zfHa {
  width: 100%;
}
.zfHb {
  width: calc(100% - 6.2vw);
  background-color: white;
  padding: 1.5vw 3vw;
  margin: 1vw 0;
  display: flex;
  align-items: center;
  border: 0.08vw dashed #000120;
  border-radius: 0.2vw;
  cursor: pointer;
}
.zfHbA {
  width: 2.8vw;
  height: 2.8vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.zfHbB {
  height: 4vw;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.zfHbBa {
  color: #515151;
  font-size: 1.2vw;
  font-weight: bold;
}
.zfHbBb {
  color: #515151;
  font-size: 1vw;
}
.zfHc {
  width: calc(100% - 6.2vw);
  background-color: white;
  padding: 1vw 3vw;
  display: flex;
  align-items: center;
  border: 0.08vw dashed #000120;
  border-radius: 0.2vw;
  background-color: #eceef0;
  cursor: pointer;
}
.zfHcA {
  width: 1.5vw;
  height: 1.5vw;
  background-image: url(../asset/ic_download1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.zfHcB {
  width: 100%;
  text-align: center;
  font-size: 1.1vw;
  font-weight: bold;
  color: #515151;
}
/* /////////////////////////////////////             //////////////            /////////////////////////////////////// */
.zfJ {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6vw;
}
.zfJa {
  width: 25%;
  font-size: 0.75vw;
  font-weight: 500;
  color: #3d424e;
  margin-top: 0.4vw;
  text-align: right;
}
.zfJb {
  width: 70%;
  margin-right: 3%;
}
/* /////////////////////////////////////             //////////////            /////////////////////////////////////// */
.zfK {
  padding-left: 27%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 0.69vw;
  font-weight: 500;
  color: #3d424e;
  margin-bottom: 0.2vw;
}
.zfK sb {
  color: #707070;
  font-size: 0.6vw;
  margin-left: 0.2vw;
}
/* /////////////////////////////////////             //////////////            /////////////////////////////////////// */
.zfL,
.zfL_ {
  cursor: pointer;
  width: 2.8vw;
  height: 1.7vw;
  border-radius: 1.7vw;
  display: flex;
  align-items: center;
  padding: 0.15vw;
  margin-right: 0.18vw;
  justify-content: flex-end;
  background-color: #2d4c86;
}
.zfL_ {
  justify-content: flex-start;
  background-color: #abadaf;
}
.zfLa {
  width: 1.63vw;
  height: 1.63vw;
  border-radius: 1.63vw;
  background-color: white;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       IMAGE UPLOADER LAYOUT1     ////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.zfM {
  display: flex;
  align-items: center;
}
.zfMa {
  border: 0.08vw dashed #274885;
  background-color: #d7dfe9;
  border-radius: 0.3vw;
  width: 35%;
  padding: 1vw;
  text-align: center;
  color: #151618;
  cursor: pointer;
}
.zfMaA {
  font-size: 1.1vw;
  font-weight: bold;
}
.zfMaB {
  font-size: 0.9vw;
  padding: 0.4vw;
}
.zfMaC {
  color: #1516186b;
  font-size: 0.6vw;
}
.zfMb {
  max-width: 50%;
  max-height: 4vw;
  position: relative;
}
.zfMbA {
  max-height: 4vw;
  margin-left: 2vw;
  object-fit: contain;
  border-radius: 0.4vw;
}
.zfMbB {
  position: absolute;
  right: -0.5vw;
  top: 0.5vw;
  width: 1.1vw;
  height: 1.1vw;
  background-image: url(../asset/ic_bin5.svg);
  background-size: contain;
}
.zfMc {
  display: none;
}
