/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////         WIDGET POPUP LAYOUT          /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.zpA {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000002f;
}
.zpAa {
  width: 60vw;
  background-color: white;
  border-radius: 0.22vw;
  box-shadow: 0vw 0vw 0.4vw #0000002f;
}
.zpAb {
  padding: 0.5vw 1.2vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.04vw solid #707070;
}
.zpAbA {
  color: #123347;
  font-size: 1.5vw;
  font-weight: 500;
}
.zpAbB {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-image: url(../asset/ic_close.svg);
  background-size: 1.2vw 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
}
.zpAbB:hover {
  background-color: #00000010;
  cursor: pointer;
}
.zpAc {
  padding: 0.5vw 1.4vw;
  color: #123347;
  font-size: 0.88vw;
}
.zpAd {
  padding: 0.5vw 1.4vw;
  display: flex;
  justify-content: space-between;
}
.zpAe {
  padding: 0.5vw 1vw;
  margin-top: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.04vw solid #707070;
}
.zpAeA {
  border: 0.04vw solid #ce4d24;
  color: #ce4d24;
  background-color: #f9d7d4;
  padding: 0.3vw;
  padding-left: 3vw;
  padding-right: 2vw;
  font-size: 0.88vw;
  border-radius: 0.2vw;
  max-width: 15vw;
  background-image: url(../asset/ic_warning.svg);
  background-size: 1vw 1vw;
  background-position: 1vw 0.3vw;
  background-repeat: no-repeat;
}
.zpAeB {
  display: flex;
}
.zpAeBa,
.zpAeBb,
.zpAeBb_ {
  min-width: 6vw;
  font-size: 0.88vw;
  color: #2d4c86;
  background-color: #c6d5fb;
  padding: 0.4vw;
  text-align: center;
  border-radius: 0.2vw;
  font-weight: 500;
  cursor: pointer;
}
.zpAeBb,
.zpAeBb_ {
  color: white;
  background-color: #2d4c86;
  margin-left: 0.5vw;
}
.zpAeBa:hover,
.zpAeBb:hover {
  filter: brightness(0.9);
}
.zpAeBb_ {
  background-color: #2d4c86ba;
}
/* ///////////////////////////////     WIDGET POPUP BODY    /////////////////////////////// */
.zpAf {
  width: 48.5%;
}
/* ///////////////////////////////     WIDGET POPUP IN1     /////////////////////////////// */
.zpAg {
  width: 100%;
}
.zpAgA {
  color: #2d4c86;
  font-size: 0.88vw;
  font-weight: 500;
  margin-top: 1vw;
  margin-bottom: 0.3vw;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////       SUCCES POPUP       /////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */

.zpCa,
.zpCa_ {
  transition: 0.5s;
  right: -27.5vw;
  position: fixed;
  top: 3.09vw;
  width: 25vw;
  height: 5vw;
  padding: 0.5vw;
  border-radius: 0.78vw;
  background-color: #039003;
  color: white;
}
.zpCa_ {
  transition: 0.5s;
  right: 2.5vw;
}
.zpCb {
  display: flex;
  justify-content: flex-end;
}
.zpCc {
  width: 1.5vw;
  height: 1.5vw;
  background-image: url(../asset/icon/ic_close_w.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.zpCd {
  display: flex;
  align-items: flex-start;
}
.zpCe {
  width: 3vw;
  height: 3vw;
  margin: 0vw 1vw;
  background-image: url(../asset/icon/eye1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.zpCf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.zpCg {
  font-size: 1.2vw;
}
.zpCh {
  font-size: 0.8vw;
}
